@model FWLog.Web.Backoffice.Models.BOAccountBaseCtx.RecoverPasswordViewModel
@using Res = Resources.BOAccountBaseStrings;

@{
    ViewBag.Title = Res.RecoverPasswordPageTitle;
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}


<div class="login_wrapper">
    @using (Html.BeginForm())
    {
        <div class="login-margin-container">
            <div class="login-container">
                <div class="login-logo padding-bottom">
                    <img src="@Url.Content("~/Content/images/logo.png")" />
                </div>
                @if (Model == null || String.IsNullOrEmpty(Model.SuccessMessage))
                {
                    <h4>@Res.RecoverPasswordPageTitle</h4>
                    <p>@Res.RecoverPasswordFormDescription</p>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Res.EmailPlaceholder })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <button type="submit" class="btn btn-block btn-primary" id="confirm-btn">@Resources.CommonStrings.SendAction</button>
                    <div class="text-center login-link-container">
                        <a href="@Url.Action("LogOn")" class="reset_pass">@Resources.CommonStrings.BackAction</a>
                    </div>
                }
                else
                {
                    <h4 class="text-success">@Res.SuccessTitle</h4>
                    <p class="text-success">@Model.SuccessMessage</p>
                    <a class="btn btn-block btn-primary" id="confirm-btn" href="@Url.Action("LogOn")">@Resources.CommonStrings.BackAction</a>
                }
            </div>
        </div>
    }
</div>