@model FWLog.Web.Backoffice.Models.BOAccountBaseCtx.RedefinePasswordViewModel
@using Res = Resources.BOAccountBaseStrings;

@{
    ViewBag.Title = Res.RedefinePasswordPageTitle;
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
}

<div class="login_wrapper">
    @using (Html.BeginForm())
    {
        <div class="login-margin-container">
            <div class="login-container padding-bottom">
                <div class="login-logo">
                    <img src="@Url.Content("~/Content/images/logo.png")" />
                </div>
                @if (Model == null || String.IsNullOrEmpty(Model.SuccessMessage))
                {
                    <h4>@Res.RedefinePasswordPageTitle</h4>
                    <p>@Res.RedefinePasswordPageDescription</p>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.NewPassword, new { @type = "password", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <button type="submit" class="btn btn-block btn-primary" id="confirm-btn">@Resources.CommonStrings.ConfirmAction</button>
                }
                else
                {
                    <h4 class="text-success">@Res.SuccessTitle</h4>
                    <p class="text-success">@Model.SuccessMessage</p>
                    <div class="">
                        <a class="btn btn-block btn-primary" id="confirm-btn" href="@Url.Action("LogOn")">@Res.GoToLoginAction</a>
                    </div>                    
                }
            </div>
        </div>
    }
</div>
