@model FWLog.Web.Backoffice.Models.TransporteEnderecoCtx.TransportadoraEnderecoEdicaoViewModel
@{
    ViewBag.Title = "Edição de Transportadora x Endereço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

@using (Html.BeginForm("Editar"))
{
    @Html.HiddenFor(m => m.IdTransportadoraEndereco);
    <div class="x_panel">
        <div class="x_title">
            <h2>Editar Transportadora x Endereço</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-sm-3 col-xs-12 col-lg-3">
                    @Html.LabelFor(m => m.IdNivelArmazenagem, new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.DescricaoNivelArmazenagem, null, new { @class = "form-control", @readonly = "true", data_field = "DescricaoNivelArmazenagem" })
                        <span class="input-group-btn">
                            <a id="pesquisarNivelArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparNivelArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.IdNivelArmazenagem, new { data_field = "IdNivelArmazenagem" })
                </div>
                <div class="form-group col-sm-3 col-xs-12 col-lg-3">
                    @Html.LabelFor(m => m.IdPontoArmazenagem, new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.DescricaoPontoArmazenagem, null, new { @class = "form-control", @readonly = "true", data_field = "DescricaoPontoArmazenagem" })
                        <span class="input-group-btn">
                            <a id="pesquisarPontoArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparPontoArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.IdPontoArmazenagem, new { data_field = "IdPontoArmazenagem" })
                </div>
                <div class="form-group col-sm-3 col-xs-12 col-lg-3">
                    @Html.LabelFor(m => m.IdEnderecoArmazenagem, new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.CodigoEnderecoArmazenagem, null, new { @class = "form-control", @readonly = "true", data_field = "CodigoEnderecoArmazenagem" })
                        <span class="input-group-btn">
                            <a id="pesquisarEnderecoArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparEnderecoArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.IdEnderecoArmazenagem, new { data_field = "IdEnderecoArmazenagem" })
                </div>
                <div class="form-group col-sm-3 col-xs-12 col-lg-3">
                    @Html.LabelFor(m => m.IdTransportadora, new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.RazaoSocialTransportadora, null, new { @class = "form-control", @readonly = "true", data_field = "RazaoSocialTransportadora" })
                        <span class="input-group-btn">
                            <a id="pesquisarTransportadora" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparTransportadora" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.IdTransportadora, new { data_field = "IdTransportadora" })
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">Voltar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
}
<div class="modal" id="modalPesquisaNivelArmazenagem"></div>
<div class="modal" id="modalPesquisaPontoArmazenagem"></div>
<div class="modal" id="modalPesquisaEnderecoArmazenagem"></div>
<div class="modal" id="modalTransportadora"></div>

