@model FWLog.Web.Backoffice.Models.RecebimentoEtiquetaIndividualPersonalizadaCtx.RecebimentoEtiquetaIndividualPersonalizadaViewModel

@{
    ViewBag.Title = "Imprimir Etiqueta Individual ou Personalizada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

<style>
    .pointer {
        cursor: pointer;
    }

    .tipo > div {
        margin-bottom: 10px;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "recebimentoEtiquetaIndividualPersonalizada" }))
{
    <div class="x_panel">
        <div class="x_title">
            <h2>Imprimir Etiqueta Individual ou Personalizada</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group col-sm-12 col-xs-12 tipo">
                <div class="row">
                    @Html.RadioButtonFor(model => model.TipoEtiquetagem, 4, new { id = "4" })
                    @Html.Label("Avulso", new { @class = "pointer", @for = "4" })
                </div>
                <div class="row">
                    @Html.RadioButtonFor(model => model.TipoEtiquetagem, 1, new { @checked = true, id = "1" })
                    @Html.Label("Individual", new { @class = "pointer", @for = "1" })
                </div>
                <div class="row">
                    @Html.RadioButtonFor(model => model.TipoEtiquetagem, 2, new { id = "2" })
                    @Html.Label("Personalizada", new { @class = "pointer", @for = "2" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-xs-12">
                    @Html.LabelFor(m => m.IdProduto)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.DescricaoProduto, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarProduto" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparProduto" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.IdProduto, new { data_field = "IdProduto" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 col-xs-12">
                    @Html.LabelFor(m => m.Quantidade, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Quantidade, new { @class = "form-control onlyNumber" })
                    @Html.ValidationMessageFor(m => m.Quantidade)
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <button id="submit" class="btn btn-primary">Imprimir</button>
            </div>
        </div>
    </div>
}
<div class="modal" id="modalImpressoras"></div>
<div class="modal" id="modalProduto"></div>