@model FWLog.Data.Models.GarantiaConfiguracao.FornecedorQuebra
@using FWLog.AspNet.Identity
@section Scripts { @BundleHelper.RenderViewScript() }

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-bars"></i> Configuração </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- menu -->
            <ul class="nav nav-tabs bar_tabs" id="ulMenuConfig" role="tablist">
                <li class="nav-item active">
                    <a id="FornecedorQuebra" class="nav-link" data-toggle="tab" href="#TabFornecedorQuebra" role="tab" aria-selected="true" aria-expanded="true">Fornecedor Quebra</a>
                </li>
                <li class="nav-item">
                    <a id="SankhyaTop" class="nav-link" data-toggle="tab" href="#TabSankhyaTop" role="tab" aria-selected="false">Sankhya Tops</a>
                </li>
                <li class="nav-item">
                    <a id="Configuracao" class="nav-link" data-toggle="tab" href="#TabConfiguracao" role="tab" aria-selected="false">Configuração</a>
                </li>
                <li class="nav-item">
                    <a id="RemessaConfiguracao" class="nav-link" data-toggle="tab" href="#TabRemessaConfiguracao" role="tab" aria-selected="false">Remessa Configuração</a>
                </li>
                <li class="nav-item">
                    <a id="RemessaUsuario" class="nav-link" data-toggle="tab" href="#TabRemessaUsuario" role="tab" aria-selected="false">Remessa Usuário</a>
                </li>
                <li class="nav-item">
                    <a id="FornecedorGrupo" class="nav-link" data-toggle="tab" href="#TabFornecedorGrupo" role="tab" aria-selected="false">Fornecedor Grupo</a>
                </li>
                <li class="nav-item">
                    <a id="MotivoLaudo" class="nav-link" data-toggle="tab" href="#TabMotivoLaudo" role="tab" aria-selected="false">Motivo Laudo</a>
                </li>
            </ul>
            <!-- panels -->
            <div class="tab-content">
                <!-- TAB Fornecedor Quebra -->
                <div class="tab-pane fade active in" id="TabFornecedorQuebra">
                    <div class="x_panel">
                        <div class="col-md-4 col-sm-4">
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            @Html.TextBoxFor(m => m.Cod_Fornecedor, new { @class = "form-control text-uppercase input-sm", data_field = "Cod_Fornecedor", placeholder = "Fornecedor", data_toggle = "tooltip", data_original_title = "Nome do Fornecedor a ser cadastrado" })
                            <div>
                                <div class="x_panel">
                                    <div class="x_title text-muted"><b>Fornecedores selecionados</b></div>
                                    <div class="x_content">
                                        <ul id="listaFornecedor" class="to_do" style="overflow:auto; height:240px"></ul>
                                    </div>
                                    <div id="controleFornecedor" class="btn-group col-sm-12" style="display:normal;">
                                        <a class="btn btn-default col-xs-6" onclick="CancelarFornecedorQuebra();" data-toggle="tooltip" data-placement="top" data-original-title="Cancelar Inclusão"><i class="glyphicon glyphicon-ban-circle text-danger"></i></a>
                                        <a class="btn btn-default col-xs-6" onclick="GravarFornecedorQuebra();" data-toggle="tooltip" data-placement="top" data-original-title="Gravar Fornecedor"><i class="fa fa-save text-success"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <!-- Grid Fornecedor Quebra -->
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <table id="gridFornecedorQuebra" class="table table-striped table-bordered dt-responsive" style="width:100%"></table>
                        </div>
                    </div>
                </div>
                <!-- TAB Sankhya Tops -->
                <div class="tab-pane fade" id="TabSankhyaTop">
                    <div class="x_panel">
                        <div class="col-md-8 col-sm-8">
                            <!-- Grid Sankhya Tops -->
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <table id="gridSankhyaTop" class="table table-striped table-bordered dt-responsive" style="width:100%"></table>
                        </div>
                        <div id="divEditarSankhyaTop" class="col-md-4 col-sm-4">
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <div class="col-md-12 col-sm-12">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><b>Descrição</b></span>
                                    <span class="form-control input-sm text-uppercase btn-default" id="spanSankhyaDescricao"></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><b>Negociação</b></span>
                                    <select id="ddlNegociacao" class="form-control input-sm"></select>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><b>Código</b></span>
                                    <input id="txtSankhyaCodigo" type="text" placeholder="Código" class="form-control input-sm text-uppercase">
                                </div>
                            </div>
                            <div class="form-inline">
                                <div class="x_content">
                                    <div id="controleSankhyaTop" class="btn-group col-sm-12" style="display:normal;">
                                        <a class="btn btn-default col-xs-6" onclick="CancelarShankhyaTop();" data-toggle="tooltip" data-placement="top" data-original-title="Cancelar Inclusão"><i class="glyphicon glyphicon-ban-circle text-danger"></i></a>
                                        <a class="btn btn-default col-xs-6" onclick="GravarShankhyaTop();" data-toggle="tooltip" data-placement="top" data-original-title="Gravar Alteração"><i class="fa fa-save text-success"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TAB Configuração -->
                <div class="tab-pane fade" id="TabConfiguracao">
                    <div class="x_panel">
                        <div class="col-md-4 col-sm-4">
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <div class="row">
                                <div class="input-group input-group-addon input-group-sm col-sm-12">
                                    <div class="col-sm-12"><input id="txtConfigFilial" class="form-control input-sm" placeholder="Filial" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Consultar Filial"></div>
                                    <div class="col-sm-12 text-center"><b id="spanConfigIdFilial" hidden="hidden"></b><h3 id="spanConfigFilial" class="label label-primary"></h3></div>
                                </div>
                                <div class="input-group input-group-sm col-sm-12">
                                    <div class="input-group-addon">Percentual Estorno Frete (%)</div>
                                    <div class="input-group-addon"><input id="txtConfigEstFrete" type="number" class="form-control" step='0.01' min="0.01" max="100" placeholder="0.00" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Estorno Frete %"></div>
                                </div>
                                <div class="input-group input-group-sm col-sm-12">
                                    <div class="input-group-addon">Percentual Desvalorização (%)</div>
                                    <div class="input-group-addon"><input id="txtConfigDesvalorizacao" type="number" class="form-control" step='0.01' min="0.01" max="100" placeholder="0.00" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Desvalorização %"></div>
                                </div>
                                <div class="input-group input-group-sm col-sm-12">
                                    <div class="input-group-addon">Valor Minímo Laudo (R$)</div>
                                    <div class="input-group-addon"><input id="txtConfigMinimo" type="text" class="form-control money" min="0" placeholder="150,00" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="R$ Minímo Laudo"></div>
                                </div>
                                <div class="input-group input-group-sm col-sm-12">
                                    <div class="input-group-addon">Prazo Envio Laudo</div>
                                    <div class="input-group-addon"><input id="txtConfigPrazoEnvio" type="number" class="form-control" min="0" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Prazo Envio Laudo"></div>
                                </div>
                                <div class="input-group input-group-sm col-sm-12">
                                    <div class="input-group-addon">Prazo Descarte</div>
                                    <div class="input-group-addon"><input id="txtConfigPrazoDescarte" type="number" class="form-control" min="0" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Prazo Descarte"></div>
                                </div>
                                <div class="x_content">
                                    <div id="controleConfig" class="btn-groupcol-sm-12" style="display:normal;">
                                        <a class="btn btn-default col-xs-6" onclick="CancelarConfiguracao();" data-toggle="tooltip" data-placement="top" data-original-title="Cancelar Inclusão"><i class="glyphicon glyphicon-ban-circle text-danger"></i></a>
                                        <a class="btn btn-default col-xs-6" onclick="GravarConfiguracao();" data-toggle="tooltip" data-placement="top" data-original-title="Gravar Configuração"><i class="fa fa-save text-success"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <!-- Grid Configuração -->
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <table id="gridConfiguracao" class="table table-striped table-bordered" style="width:100%"></table>
                        </div>
                    </div>
                </div>
                <!-- TAB Remessa Configuração -->
                <div class="tab-pane fade" id="TabRemessaConfiguracao">
                    <div class="x_panel">
                        <div class="col-md-5 col-sm-5">
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <div class="col-sm-12">
                                <div class="input-group input-group-addon input-group-sm col-sm-12">
                                    <div class="col-sm-12"><input id="txtRCFilial" class="form-control input-sm" placeholder="Filial"data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Filial"></div>
                                    <div class="col-sm-12 text-center"><b id="spanIdFilial" hidden="hidden"></b><h3 id="spanFilial" class="label label-primary"></h3></div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-group input-group-addon input-group-sm col-sm-12">
                                    <div class="col-sm-12"><input id="txtRCFornecedor" class="form-control input-sm" placeholder="Fornecedor" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Fornecedor"></div>
                                    <div class="col-sm-12 text-center"><b id="spanIdFornecedor" hidden="hidden"></b><h3 id="spanFornecedor" class="label label-primary"></h3></div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><span>Automática</span></span>
                                    <span class="input-group-addon"><input id="chkRCAutomatica" type="checkbox" class="flat" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Remessa Automática"></span>
                                </div>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Remessa Total</span>
                                    <span class="input-group-addon"><input id="chkRCTotal" type="checkbox" class="flat" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Remessa Total"></span>
                                </div>

                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">Minímo Envio (R$)</span>
                                    <span class="input-group-addon"><input id="txtRCMinimoEnvio" type="text" class="form-control money" min="0" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="R$ Minímo Envio"></span>
                                </div>
                            </div>

                            <div class="x_content">
                                <div id="controleRemessaConfig" class="btn-group col-sm-12" style="display:normal;">
                                    <a class="btn btn-default col-xs-6" onclick="CancelarRemessaConfiguracao();" data-toggle="tooltip" data-placement="top" data-original-title="Cancelar Inclusão"><i class="glyphicon glyphicon-ban-circle text-danger"></i></a>
                                    <a class="btn btn-default col-xs-6" onclick="GravarRemessaConfiguracao();" data-toggle="tooltip" data-placement="top" data-original-title="Gravar Remessa Configuração"><i class="fa fa-save text-success"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <!-- Grid Remessa Configuração -->
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <table id="gridRemessaConfig" class="table table-striped table-bordered dt-responsive" style="width:100%"></table>
                        </div>
                    </div>
                </div>
                <!-- TAB Remessa Usuário -->
                <div class="tab-pane fade" id="TabRemessaUsuario">
                    <div class="x_panel">
                        <div class="col-md-4 col-sm-4">
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <input class="form-control text-lowercase input-sm" data-original-title="Consultar Usuário" data-toggle="tooltip" data-val="true" id="txtRemessaUsuario" placeholder="Consultar Usuário" type="text" value="">
                            <div>
                                <div class="x_panel">
                                    <div class="x_title text-muted"><b>Usuários selecionados</b></div>
                                    <div class="x_content">
                                        <ul id="listaRemessaUsuarios" class="to_do" style="overflow:auto; height:240px"></ul>
                                    </div>
                                </div>
                                <div id="controleRemessaUsuario" class="btn-group col-sm-12" style="display:normal;">
                                    <a class="btn btn-default col-xs-6" onclick="CancelarRemessaUsuario();" data-toggle="tooltip" data-placement="top" data-original-title="Cancelar Inclusão"><i class="glyphicon glyphicon-ban-circle text-danger"></i></a>
                                    <a class="btn btn-default col-xs-6" onclick="GravarRemessaUsuario();" data-toggle="tooltip" data-placement="top" data-original-title="Gravar Remessa Usuário"><i class="fa fa-save text-success"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <!-- Grid Remessa Usuário -->
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <table id="gridRemessaUsuario" class="table table-striped table-bordered dt-responsive" style="width:100%"></table>
                        </div>
                    </div>
                </div>
                <!-- TAB Fornecedor Grupo -->
                <div class="tab-pane fade" id="TabFornecedorGrupo">
                    <div class="x_panel">
                        <div class="col-md-4 col-sm-4">
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <div class="col-sm-12">
                                <div class="input-group input-group-addon input-group-sm col-sm-12">
                                    <div class="col-sm-12"><input id="txtFornecedorPai" class="form-control input-sm" placeholder="Fornecedor Pai" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Fornecedor Pai"></div>
                                    <div class="input-group-addon">
                                        <div class="col-sm-12 text-center"><b id="spanIdFornecedorPai" hidden="hidden"></b><h3 id="spanFornecedorPai" class="label label-primary"></h3></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-group input-group-addon input-group-sm col-sm-12">
                                    <div class="col-sm-12"><input id="txtFornecedorFilho" class="form-control input-sm" placeholder="Fornecedor Filho" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Fornecedor Filho"></div>
                                    <div class="input-group-addon">
                                        <div class="col-sm-12 text-center"><b id="spanIdFornecedorFilho" hidden="hidden"></b><h3 id="spanFornecedorFilho" class="label label-primary"></h3></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="x_panel">
                                    <div id="controleFornecedorGrupo" class="btn-group col-sm-12" style="display:normal;">
                                        <a class="btn btn-default col-xs-6" onclick="CancelarFornecedorGrupo();" data-toggle="tooltip" data-placement="top" data-original-title="Cancelar Inclusão"><i class="glyphicon glyphicon-ban-circle text-danger"></i></a>
                                        <a class="btn btn-default col-xs-6" onclick="GravarFornecedorGrupo();" data-toggle="tooltip" data-placement="top" data-original-title="Gravar Fornecedor Grupo"><i class="fa fa-save text-success"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <!-- Grid Fornecedor Grupo -->
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <table id="gridFornecedorGrupo" class="table table-striped table-bordered dt-responsive" style="width:100%"></table>
                        </div>
                    </div>
                </div>
                <!-- TAB Motivo Laudo -->
                <div class="tab-pane fade" id="TabMotivoLaudo">
                    <div class="x_panel">
                        <div class="col-md-4 col-sm-4">
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <div class="col-sm-12">
                                <span id="spanIdTipo" hidden="hidden">8</span>
                                <div class="input-group input-group-addon input-group-sm col-sm-12">
                                    <div class="col-sm-12"><input id="txtDescricaoMotivoLaudo" class="form-control input-sm text-uppercase" placeholder="Motivo Laudo Descrição" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Descrição Motivo Laudo"></div>
                                </div>
                            </div>
                            <div>
                                <div class="x_panel">
                                    <div id="controleMotivoLaudo" class="btn-group col-sm-12" style="display:normal;">
                                        <a class="btn btn-default col-xs-6" onclick="CancelarMotivoLaudo();" data-toggle="tooltip" data-placement="top" data-original-title="Cancelar Inclusão"><i class="glyphicon glyphicon-ban-circle text-danger"></i></a>
                                        <a class="btn btn-default col-xs-6" onclick="GravarMotivoLaudo();" data-toggle="tooltip" data-placement="top" data-original-title="Gravar Motivo Laudo"><i class="fa fa-save text-success"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <!-- Grid Motivo Laudo -->
                            <div class="x_title text-muted"><b>&emsp;</b></div>
                            <table id="gridMotivoLaudo" class="table table-striped table-bordered dt-responsive" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="@Url.Content("~/Scripts/jquery/jquery-3.3.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/vendors/devbridge-autocomplete/jquery.autocomplete.min.js")"></script>
<script src="@Url.Content("~/Scripts/Views/GarantiaConfiguracao/configuracao.js")"></script>
<script src="@Url.Content("~/Scripts/Views/GarantiaConfiguracao/fornecedorquebra.js")"></script>
<script src="@Url.Content("~/Scripts/Views/GarantiaConfiguracao/fornecedorgrupo.js")"></script>
<script src="@Url.Content("~/Scripts/Views/GarantiaConfiguracao/motivolaudo.js")"></script>
<script src="@Url.Content("~/Scripts/Views/GarantiaConfiguracao/remessaconfiguracao.js")"></script>
<script src="@Url.Content("~/Scripts/Views/GarantiaConfiguracao/remessausuario.js")"></script>
<script src="@Url.Content("~/Scripts/Views/GarantiaConfiguracao/sankhyatop.js")"></script>