@model FWLog.Web.Backoffice.Models.BOPrinterCtx.BOPrinterCreateViewModel
@using Res = Resources.BOPrinterStrings

@{
    ViewBag.Title = Res.EditPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

<!-- title -->
<div class="page-title">
    <div class="title">
        <h3 class="title-sml">@Res.EditPageTitle</h3>
    </div>
</div>
<!-- /title -->

@using (Html.BeginForm("Edit"))
{
    @Html.HiddenFor(x => x.Id)

    <div class="x_panel">
        <div class="x_title">
            <h2>@Res.PrinterHeader</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- fields -->
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group col-sm-2 col-xs-12">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        @Html.LabelFor(m => m.IP, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.IP, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IP)
                    </div>
                    <div class="form-group col-sm-2 col-xs-12">
                        @Html.LabelFor(m => m.PrinterTypeId, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.PrinterTypeId, (IEnumerable<SelectListItem>)ViewBag.PrinterTypes, "Selecione...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PrinterTypeId)
                    </div>
                    <div class="form-group col-sm-2 col-xs-12">
                        @Html.LabelFor(m => m.Ativa, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Ativa, (IEnumerable<SelectListItem>)ViewBag.Status, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Ativa)
                    </div>
                    <div class="form-group col-sm-3 col-xs-12">
                        @Html.LabelFor(m => m.IdEmpresa, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.IdEmpresa, (IEnumerable<SelectListItem>)ViewBag.Empresas, "Selecione...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IdEmpresa)
                    </div>
                </div>
            </div>
            <!-- /fields -->
            <!-- footer -->
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">@Resources.CommonStrings.CancelAction</a>
                <button type="submit" class="btn btn-primary">@Resources.CommonStrings.ConfirmAction</button>
            </div>
            <!-- /footer -->
        </div>
    </div>
}
