@model FWLog.Web.Backoffice.Models.BOPrinterCtx.BOPrinterSelecionarViewModel
@{
    Layout = null;

    @BundleHelper.RenderViewScriptModal()
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Selecione uma impressora</h4>
        </div>
        <div class="modal-body">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        @if (Model.Impressoras.Count > 0)
                        {
                            if (Model.Impressoras.Count == 1)
                            {
                                <div class="col-sm-12 col-lg-12">
                                    <h2>A impressão será enviada para <b>@Model.Impressoras.First().Nome</b></h2>
                                    @Html.Hidden("IdImpressora", Model.Impressoras.First().IdImpressora)
                                </div>
                            }
                            else
                            {
                                for (var i = 0; i < Model.Impressoras.Count(); i++)
                                {
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="form-group">
                                            @Html.RadioButton("IdImpressora", Model.Impressoras[i].IdImpressora, i == 0 ? true : false, new { Id = "IdImpressora" + Model.Impressoras[i].IdImpressora })
                                            <label for="IdImpressora@(Model.Impressoras[i].IdImpressora)">@Model.Impressoras[i].Nome</label>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="col-sm-12 col-lg-12">
                                Nenhuma impressora configurada.
                            </div>
                        }
                        @Html.Hidden("Acao", Model.Acao)
                        @Html.Hidden("Id", Model.Id)
                    </div>
                    <div class="row navbar-right">
                        <div class="col-sm-12 col-lg-12">
                            <button type="button" id="btnFechar" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            @if (!Model.Impressoras.NullOrEmpty())
                            {
                                <button type="button" id="btnImprimir" class="btn btn-primary"><i class="fa fa-fw fa-print"></i> Impirmir</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
