@model FWLog.Web.Backoffice.Models.BOPrinterCtx.BOPrinterSelecionarViewModel
@{
    Layout = null;

    @BundleHelper.RenderViewScriptModal()
}

<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" style="z-index: 1000">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar impressão</h4>
            </div><div class="container"></div>
            <div class="modal-body" style="overflow: auto; max-height: calc(90vh - 40px);">
                <div class="row">
                    @if (Model.Impressoras.Count() > 0)
                    {
                        if (Model.Impressoras.Count() == 1)
                        {
                            <div class="col-sm-12 col-lg-12">
                                <span>Deseja imprimir <b>@Model.ImpressaoItemDescricao</b> na impressora <b>@Model.Impressoras.First().Text</b>.</span>
                                @Html.Hidden("IdImpressora", Model.Impressoras.First().Value)
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-12 col-lg-12">
                                <div class="form-group" style="padding-bottom: 5px">
                                    @Html.Label("Impressora:")
                                    @Html.DropDownList("IdImpressora", Model.Impressoras, new { @class = "form-control" })
                                </div>
                                <span>A impressão de <b>@Model.ImpressaoItemDescricao</b> será realizada na impressora selecionada. </span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-sm-12 col-lg-12">
                            Nenhum perfil de impressora configurada para este tipo de impressão.
                        </div>
                    }
                    @Html.Hidden("Acao", Model.Acao)
                    @Html.Hidden("Id", Model.Id)
                    @Html.Hidden("Id2", Model.Id2)
                </div>
            </div>
            <div class="modal-footer">
                @if (Model.Impressoras.Count() > 0)
                {
                    <a id="btnImprimir" class="btn btn-primary">Imprimir</a>
                }
                <a href="#" class="btn btn-default" data-dismiss="modal">Fechar</a>
            </div>
        </div>
    </div>
</div>

