@model List<FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaConferenciaItem>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="tbItensPendentes" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Refx</th>
                            <th>Descrição</th>
                            @if (ViewBag.Id_Tipo_Conf == 26 || ViewBag.Id_Tipo_Conf == 6)
                            {
                                <th>Solicitação</th>
                            }
                            <th>Quant.</th>
                            <th>Usuário</th>
                            <th>Dt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Refx</td>
                                <td>@item.Descricao</td>
                                @if (ViewBag.Id_Tipo_Conf == 26 || ViewBag.Id_Tipo_Conf == 6)
                                {
                                    <td>@item.Id_Solicitacao</td>
                                }
                                <td>
                                    @if (item.Quant_Conferida < 0)
                                    {
                                        <span class="label label-danger">@item.Quant_Conferida</span>
                                    }
                                    else
                                    {
                                        <span class="label label-success">@item.Quant_Conferida</span>
                                    }
                                </td>
                                <td>@item.Usr</td>
                                <td>@String.Format("{0:dd/MM/yyyy hh:mm}", item.Dt_Conf)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>