@model FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaLaudoVM

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <form id="formLaudoItensDetalhe">
                    @Html.HiddenFor(m => m.Form.Refx, new { id = "Refx", Name = "Refx" })
                    <div class="col-xs-12 col-md-2  form-group">
                        @Html.LabelFor(m => m.Form.Quant)
                        @Html.TextBoxFor(m => m.Form.Quant, new { id = "Quant", Name = "Quant", @class = "form-control onlyNumber" })
                    </div>
                    <div class="col-xs-12 col-md-2 form-group">
                        @Html.LabelFor(m => m.Form.Id_Item)
                        @Html.DropDownListFor(m => m.Form.Id_Item, Model.Form.Lista_Itens, new { id = "Id_Item", Name = "Id_Item", @class = "form-control" })
                    </div>
                    <div class="col-xs-12 col-md-6 form-group">
                        @Html.LabelFor(m => m.Form.Id_Motivo)
                        @Html.DropDownListFor(m => m.Form.Id_Motivo, Model.Form.Lista_Motivos, new { id = "Id_Motivo", Name = "Id_Motivo", @class = "form-control" })
                    </div>
                    <button style="margin-top: 20px;" type="submit" class="btn btn-primary">Gravar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="tbLaudoItensDetalhe" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Quant.</th>
                            <th>Item NF</th>
                            <th>Motivo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Lista)
                        {

                            <tr>
                                <td>
                                    @if (item.Quant_Laudo < 0)
                                    {
                                        <span class="label label-danger">@item.Quant_Laudo</span>
                                    }
                                    else
                                    {
                                        <span class="label label-success">@item.Quant_Laudo</span>
                                    }
                                </td>
                                <td>
                                    @if (item.Id_Item_Nf == 0)
                                    {
                                        <span class="label label-danger"> AUTOMÁTICO</span>
                                    }
                                    else
                                    {
                                        @item.Id_Item_Nf
                                    }
                                </td>
                                <td>@item.Motivo</td>
                                <td>
                                    @if (item.Id_Item_Nf != 0)
                                    {
                                        <a data-toggle="tooltip" title="" data-original-title="Excluir" href="javascript:void(0)" onclick="excluirLaudo(@item.Id)" class="btn btn-row-actions btn-sm btn-danger"><i class="fa fa-trash"></i> </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>