@model FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaLaudoVM

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="tbLaudoItens" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Html.DisplayNameFor(m => m.Form.Refx)</th>
                            <th>@Html.DisplayNameFor(m => m.Form.Descricao)</th>
                            <th>@Html.DisplayNameFor(m => m.Form.Quant)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Lista)
                        {

                            <tr>
                                <td></td>
                                <td>@item.Refx</td>
                                <td>@item.Descricao</td>
                                <td>@item.Quant</td>
                                <td>
                                    <a href="#" onclick="itensLaudoDetalhe()" class="btn btn-sm btn-info" title="" data-original-title="Visualizar"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>