@model FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaConferenciaVM
@{
    Layout = null;
    @BundleHelper.RenderViewScriptModal(new
{
    id = Model.Solicitacao.Id
})
}

@Html.HiddenFor(m => m.Solicitacao.Id)
<div class="modal-dialog modal-lg" style="width:95% !important;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Conferência de Solicitação</h4>
        </div>
        <div class="modal-body" style="overflow: auto; max-height: calc(100vh - 150px);">

            <div class="x_panel">

                <div class="x_content">
                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
                            @Html.LabelFor(m => m.Solicitacao.Id): @Model.Solicitacao.Id
                        </div>
                        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
                            @Html.LabelFor(m => m.Solicitacao.Nota_Fiscal): @Model.Solicitacao.Nota_Fiscal
                        </div>
                        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
                            @Html.LabelFor(m => m.Solicitacao.Dt_Criacao): @Model.Solicitacao.Dt_Criacao
                        </div>
                        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
                            @Html.LabelFor(m => m.Solicitacao.Tipo): @Model.Solicitacao.Tipo
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
                            @Html.LabelFor(m => m.Solicitacao.Cli_Cnpj): @Model.Solicitacao.Cli_Cnpj
                        </div>
                        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
                            @Html.LabelFor(m => m.Solicitacao.Razao_Social): @Model.Solicitacao.Razao_Social
                        </div>
                        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
                            @Html.LabelFor(m => m.Solicitacao.Rep): @Model.Solicitacao.Rep
                        </div>
                        <div class="col-xs-12 col-sm-3 col-lg-3 col-md-3">
                            @Html.LabelFor(m => m.Solicitacao.Filial): @Model.Solicitacao.Filial
                        </div>
                    </div>
                </div>
            </div>

            <div class="x_panel">
                <div class="x_content">
                    <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" id="conferir-tab" data-toggle="tab" href="#tabConferir" role="tab" >1 - Conferência</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link" id="divergencia-tab"  href="#tabDivergencia" role="tab" >2 - Divergência</a>
                        </li>                       
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tabConferir" role="tabpanel">
                        </div>
                        <div class="tab-pane fade" id="tabDivergencia" role="tabpanel" >                         
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
