@model FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaConferenciaFormVM

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <form id="formConferir">
                    @Html.HiddenFor(m => m.Form.Id)
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Form.Refx, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Form.Refx, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Form.Refx)
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Form.Quant, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Form.Quant, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Form.Quant)
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Form.Descricao, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Form.Descricao, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(m => m.Form.Descricao)
                            </div>
                        </div>
                    </div>

                    <button type="button" id="btAlterarQuantidade" class="btn btn-success right"><i class="fa fa-exchange"></i>  Alterar Quantidade</button>
                    <button type="button" id="btItensPendentes" class="btn btn-warning right"><i class="fa fa-gears"></i>  Ver Peças Pendentes</button>
                    <button type="button" id="btItensConferidos" class="btn btn-primary right"><i class="fa fa-gears"></i>  Ver Peças Conferidas</button>
                </form>
            </div>
        </div>
    </div>
</div>