@model FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaConferenciaDivergenciaVM

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <table id="tbDivergenciaItens" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Cabecalho.Refx)</th>
                            <th>@Html.DisplayNameFor(m => m.Cabecalho.Descricao)</th>
                            @if (Model.Cabecalho.Id_Tipo_Conf == 26 || Model.Cabecalho.Id_Tipo_Conf == 6)
                            {
                                <th>@Html.DisplayNameFor(m => m.Cabecalho.Id_Solicitacao)</th>
                            }
                            <th>@Html.DisplayNameFor(m => m.Cabecalho.Quant)</th>
                            <th>@Html.DisplayNameFor(m => m.Cabecalho.Quant_Conferida)</th>
                            <th>@Html.DisplayNameFor(m => m.Cabecalho.Divergencia)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Itens)
                        {
                            <tr style="@(item.Tem_No_Excesso == 1 ? "background-color:#bb110021" : "")">
                                <td>@item.Refx</td>
                                <td>@item.Descricao</td>
                                @if (Model.Cabecalho.Id_Tipo_Conf == 26 || Model.Cabecalho.Id_Tipo_Conf == 6)
                                {
                                    <td>@item.Id_Solicitacao</td>
                                }
                                <td>@item.Quant</td>
                                <td>@item.Quant_Conferida</td>
                                <td>
                                    @if (item.Tem_No_Excesso == 1)
                                    {
                                        <span class="label label-danger"> EXCESSO</span>
                                    }
                                    else if (item.Divergencia > 0)
                                    {
                                        <span class="label label-success"> @item.Divergencia</span>
                                    }
                                    else if (item.Divergencia < 0)
                                    {
                                        <span class="label label-danger"> @item.Divergencia</span>
                                    }
                                    else
                                    {
                                        <span class="label label-info"> @item.Divergencia</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>