@model FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaEntradaConferenciaViewModel
@{
    Layout = null;

    @BundleHelper.RenderViewScriptModal(new
{
})
}

<script>
    $(function () {
        $("#Referencia").focus();
    });
</script>

<style>
    .overlay {
        display: none;
        z-index: 1000;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
        background-color: rgba(0,0,0,0.55);
        text-align: center;
    }
</style>

<div class="modal-dialog modal-lg" id="modalRegistroConferencia">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" id="fecharConferencia" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Conferência da Garantia</h4>
        </div>
        <div class="modal-body" style="overflow: auto; max-height: calc(90vh - 40px);">
            <div id="overlay" class="overlay">
                <h1 style="margin-top: 25%;">
                    Carregando...
                </h1>
            </div>

            <div class="row">
                @*@Html.HiddenFor(m => m.InicioConferencia)
        @Html.HiddenFor(m => m.IdTipoConferencia)*@
                @Html.HiddenFor(m => m.IdGarantia)
                @Html.HiddenFor(m => m.IdNotaFiscal)
                <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(m => m.IdGarantia): @Model.IdGarantia
                    </div>
                </div>

                <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(f => f.NumeroNotaFiscal): @Model.NumeroNotaFiscal
                    </div>
                </div>
                <div class="col-xs-5 col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(f => f.DataDaSolicitacao): @Model.DataDaSolicitacao
                    </div>
                </div>
                <div class="col-xs-7 col-md-3 ">
                    <div class="form-group">
                        @Html.LabelFor(f => f.NomeConferente): @Model.NomeConferente
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(f => f.Representante): @Model.Representante
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(f => f.Cliente): @Model.Cliente
                    </div>
                </div>
                <div class="col-xs-6 col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(f => f.Fornecedor): @Model.Fornecedor
                    </div>
                </div>
                @*<div class="col-xs-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(f => f.TipoConferencia): <span id="TipoConferencia">@Model.TipoConferencia</span>
            </div>
        </div>*@
            </div>
            <div id="itens">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h4 style="margin-top: 15px; margin-bottom: 0px;">Conferência</h4>
                        <div class="ln_solid" style="margin-bottom: 15px; margin-top: 0px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(f => f.Referencia)
                            @Html.TextBoxFor(m => m.Referencia, new { @class = "form-control", tabindex = 0, @autofocus = "autofocus" })
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(f => f.Quantidade)
                            @Html.TextBoxFor(m => m.Quantidade, new { @class = "form-control", tabindex = 1, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(f => f.Unidade)
                            @Html.TextBoxFor(m => m.Unidade, new { @class = "form-control onlyNumber", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(f => f.Fabricante)
                            @Html.TextBoxFor(m => m.Fabricante, new { @class = "form-control onlyNumber", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(f => f.Descricao)
                            @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(f => f.Tipo)
                            @*<div class="btn-group" role="group" style="display:block;">
                            <button type="button" class="btn btn-secondary" tabindex="5" id="btnTipoGarantia" style="background-color:darkblue; color:#FFF;">Garantia</button>
                            <button type="button" class="btn btn-secondary" tabindex="6" id="btnTipoLaudo" style="background-color:darkblue; color:#FFF;">Laudo</button>
                        </div>*@
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="display:block;">
                                <label class="btn btn-secondary active"  style="background-color:darkblue; color:#FFF;">
                                    <input type="radio" name="options" id="btnTipoGarantia" checked> Garantia
                                </label>
                                <label class="btn btn-secondary"  style="background-color:darkblue; color:#FFF;">
                                    <input type="radio" name="options" id="btnTipoLaudo"> Laudo
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4" id="legendaTipoConferencia">
                    <h5 style="padding-left: 5px"> <strong>F4</strong> - Conferência Manual</h5>
                </div>
                @*<div class="col-xs-12 col-md-2" id="legendaRegistroConferencia">
                <h5><strong style="padding-left: 5px">ESC</strong> - Registrar</h5>
            </div>*@
                <div class="col-sm-12 col-md-8" style="text-align: right;">
                    <button type="button" id="finalizarConferencia" class="btn btn-default">Imprimir Etiquetas</button>
                    <button type="button" id="finalizarConferencia" class="btn btn-info">Finalizar</button>
                    <button type="button" id="exibirDivergencia" class="btn btn-default">Divergências</button>
                    <a id="confirmarConferencia" data-toggle="tooltip" title="Confirmar" class="btn btn-primary">Registrar</a>
                </div>
            </div>
        </div>
    </div>
</div>

