@model FWLog.Web.Backoffice.Models.GarantiaCtx.GarantiaRemessaVM
@using FWLog.AspNet.Identity

@{
    ViewBag.Title = "Lista de Garantia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript(
        new
        {
            listarRemessa = User.HasPermission(Permissions.Garantia.ListarRemessa),
            estornarRemessa = User.HasPermission(Permissions.Garantia.EstornarRemessa),
            conferirRemessa = User.HasPermission(Permissions.Garantia.ConferirRemessa),
            pageDataUrl = Url.Action("ListarRemessa")
        }
    )
}

<form data-filter="form" data-filter-for="dataTable" class="form-filter">
    @Html.HiddenFor(m => m.Filter.Id_Empresa, new { data_field = "Id_Empresa" })
    <div class="x_panel">
        <div class="x_title">
            <h2>Solicitações de Garantia</h2>
            <button type="button" id="btCriarRemessa" class="btn btn-primary pull-right"><i class="fa fa-gears"></i> Criar Remessa</button>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <div class="row">
                <div class="col-xs-12 col-md-2 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.Cod_Fornecedor)
                    @Html.TextBoxFor(m => m.Filter.Cod_Fornecedor, new { @class = "form-control onlyNumber", data_field = "Cod_Fornecedor" })
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.Data_Inicial)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.Data_Inicial, new { @class = "form-control dateFormat validateDateOrPrazoInicial", data_field = "Data_Inicial" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Filter.Data_Inicial)
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.Data_Final)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.Data_Final, new { @class = "form-control dateFormat validateDateOrPrazoInicial", data_field = "Data_Final" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Filter.Data_Final)
                </div>
                <div class="col-xs-12 col-md-5 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.Id)
                    @Html.TextBoxFor(m => m.Filter.Id, new { @class = "form-control onlyNumber", data_field = "Id" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-buttons">
                <button type="button" class="btn btn-default" data-filter="clear">@Resources.CommonStrings.ClearAction</button>
                <button type="button" class="btn btn-primary" data-filter="search">@Resources.CommonStrings.SearchAction</button>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Remessa</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dataTable" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Cod_Fornecedor)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Id)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Dt_Criacao)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Id_Status)</th>
                            <th>@Resources.CommonStrings.ActionsLabel</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalVisualizar"></div>

<div class="modal fade" data-backdrop="static" id="modalLaudo" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="modalLaudoDetalhes" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="max-width:80%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" data-backdrop="static" id="modalItensPendentes" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="max-width:80%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>