@model FWLog.Web.Backoffice.Models.BOAccountCtx.ChangePasswordViewModel
@using Res = Resources.BOAccountStrings

@{
    ViewBag.Title = Res.ChangePasswordPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- title -->
<div class="page-title">
    <div class="title">
        <h3>@Res.ChangePasswordPageTitle</h3>
    </div>
</div>
<!-- /title -->
@using (Html.BeginForm("ChangePassword", "BOAccount", FormMethod.Post))
{
    <div class="x_panel">
        <div class="x_title">
            <h2>@Res.PasswordHeader</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- fields -->
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-lg-6 form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="col-xs-12 col-lg-6 form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>

                </div>
            </div>
            <!-- /fields -->
            <!-- footer -->
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index","BOHome")" class="btn btn-default">@Resources.CommonStrings.CancelAction</a>
                <button type="submit" class="btn btn-primary">@Resources.CommonStrings.ConfirmAction</button>
            </div>
            <!-- /footer -->
        </div>
    </div>
}
