@model FWLog.Web.Backoffice.Models.BOAccountCtx.BOAccountCreateViewModel
@using Res = Resources.BOAccountStrings

@{
    ViewBag.Title = Res.CreatePageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

<!-- title -->
<div class="page-title">
    <div class="title">
        <h3 class="title-sml">@Res.CreatePageTitle</h3>
    </div>
</div>
<!-- /title -->

@using (Html.BeginForm("Create"))
{
    <div class="x_panel">
        <div class="x_title">
            <h2>@Res.UserHeader</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- fields -->
            <div class="row">
                <div class="">
                    <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-3">
                        @Html.LabelFor(m => m.PerfilUsuario.Departamento, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.PerfilUsuario.Departamento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PerfilUsuario.Departamento)
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-3">
                        @Html.LabelFor(m => m.PerfilUsuario.Cargo, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.PerfilUsuario.Cargo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PerfilUsuario.Cargo)
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-3">
                        @Html.LabelFor(m => m.PerfilUsuario.DataNascimento, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.PerfilUsuario.DataNascimento, new { @class = "form-control date" })
                        @Html.ValidationMessageFor(m => m.PerfilUsuario.DataNascimento)
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-3">
                        @Html.LabelFor(m => m.PerfilUsuario.EmpresaId, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.PerfilUsuario.EmpresaId, new SelectList((System.Collections.IEnumerable)ViewData["Companies"], "Value", "Text"), @Resources.CommonStrings.Select, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PerfilUsuario.EmpresaId)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="x_title" >
                    <h2>Relacionamento de Empresas</h2>
                    <div class="clearfix"></div>
                </div>
                <div style="padding-top: 7px">
                    <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        @Html.DropDownList("ddlEmpresas", new SelectList((System.Collections.IEnumerable)ViewData["Companies"], "Value", "Text"), "Selecione a empresa", new { @class = "form-control" })
                    </div>
                    <div>
                        <button type="button" id="btnAddEmpresa" class="btn btn-primary btn-dt-action m-r-sm">
                            <i class="fa fa-plus"></i> Adicionar
                        </button>
                        <span class="text-danger validationEmpresa"></span>
                    </div>                   
                </div>
            </div>
            <div id="EmpresasSelecionadas">
                @Html.Partial("_EmpresaGrupo", Model.EmpresasGrupos)
            </div>
            <!-- /fields -->
            <!-- footer -->
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">@Resources.CommonStrings.CancelAction</a>
                <button type="submit" class="btn btn-primary btnSalvar">@Resources.CommonStrings.ConfirmAction</button>
            </div>
            <!-- /footer -->
        </div>
    </div>


}
