@model FWLog.Web.Backoffice.Models.BOAccountCtx.BOAccountCreateViewModel
@using Res = Resources.BOAccountStrings

@{
    ViewBag.Title = Res.CreatePageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {    
    @BundleHelper.RenderViewScript()
}

<!-- title -->
<div class="page-title">
    <div class="title">
        <h3 class="title-sml">@Res.CreatePageTitle</h3>
    </div>    
</div>
<!-- /title -->

@using (Html.BeginForm("Create"))
{
    <div class="x_panel">
        <div class="x_title">
            <h2>@Res.UserHeader</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- fields -->
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="form-section-divider">
                        <h3 class="pull-left">@Res.GroupsHeader</h3>
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default form-group" id="checkAllGroups"><i class="fa fa-check-square-o"></i> @Res.CheckAllLabel</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" id="uncheckAllGroups"><i class="fa fa-square-o"></i> @Res.UncheckAllLabel</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        @for (int i = 0; i < Model.Groups.Count(); i++)
                        {
                            <div class="col-xs-12 col-sm-6">
                                <div class="checkbox">
                                    <label>
                                        @Html.HiddenFor(m => m.Groups[i].Name)
                                        @Html.CheckBoxFor(m => m.Groups[i].IsSelected, new { data_group = "" })
                                        @Html.DisplayFor(m => m.Groups[i].Name)
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- /fields -->
            <!-- footer -->
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">@Resources.CommonStrings.CancelAction</a>
                <button type="submit" class="btn btn-primary">@Resources.CommonStrings.ConfirmAction</button>
            </div>
            <!-- /footer -->
        </div>
    </div>


}
