@model FWLog.Web.Backoffice.Models.BOAccountCtx.BOAccountCreateViewModel
@using Res = Resources.BOAccountStrings

@{
    ViewBag.Title = "Cadastrar Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

@using (Html.BeginForm("Create"))
{
    <div class="x_panel">
        <div class="x_title">
            <h2>Cadastrar Usuário</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="form-group col-sm-4 col-xs-12">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group col-sm-3 col-xs-12">
                    @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nome)
                </div>
                <div class="form-group col-sm-3 col-xs-12">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.Departamento, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Departamento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Departamento)
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.Cargo, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cargo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Cargo)
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.DataNascimento, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.DataNascimento, new { @class = "form-control dateMask" })
                    @Html.ValidationMessageFor(m => m.DataNascimento)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.Ativo)
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.Ativo, new { @class = "flat" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Ativo)
                </div>
            </div>
            <div class="row">
                <div class="x_title">
                    <h2>Empresas do Usuário</h2>
                    <div class="clearfix"></div>
                </div>
                <div style="padding-top: 7px">
                    <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        @Html.DropDownList("ddlEmpresas", (IEnumerable<SelectListItem>)ViewBag.Empresas, "Selecione a empresa", new { @class = "form-control" })
                        <span class="text-danger validationEmpresa">@Html.ValidationMessageFor(m => m.EmpresasGrupos)</span>
                    </div>
                    <div>
                        <button type="button" id="btnAddEmpresa" class="btn btn-primary btn-dt-action m-r-sm">
                            <i class="fa fa-plus"></i> Adicionar
                        </button>
                    </div>
                </div>
            </div>
            <div id="EmpresasSelecionadas">
                @Html.Partial("_EmpresaGrupo", Model.EmpresasGrupos)
            </div>
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">Voltar</a>
                <button type="submit" class="btn btn-primary btnSalvar">Salvar</button>
            </div>
        </div>
    </div>
}
<div class="modal" id="modalEmpresaPrincipal" data-toggle="modal"></div>