@model FWLog.Web.Backoffice.Models.BOAccountCtx.BOAccountEditViewModel
@using Res = Resources.BOAccountStrings

@{
    ViewBag.Title = "Editar Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

@using (Html.BeginForm("Edit"))
{
    @Html.HiddenFor(x => x.UserName)
    <div class="x_panel">
        <div class="x_title">
            <h2>Editar Usuário</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="form-group col-sm-3 col-xs-12">
                    @Html.LabelFor(m => m.PerfilUsuario.Nome, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PerfilUsuario.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PerfilUsuario.Nome)
                </div>
                @Html.HiddenFor(m => m.PerfilUsuario.PerfilUsuarioId)
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group col-sm-3 col-xs-12">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.PerfilUsuario.EmpresaId, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.PerfilUsuario.EmpresaId, (IEnumerable<SelectListItem>)ViewBag.Empresas, @Resources.CommonStrings.Select, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PerfilUsuario.EmpresaId)
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.PerfilUsuario.Departamento, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PerfilUsuario.Departamento, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PerfilUsuario.Departamento)
                </div>
                <div class="form-group col-sm-3 col-xs-12">
                    @Html.LabelFor(m => m.PerfilUsuario.Cargo, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PerfilUsuario.Cargo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PerfilUsuario.Cargo)
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.PerfilUsuario.DataNascimento, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PerfilUsuario.DataNascimento, new { @class = "form-control dateMask" })
                    @Html.ValidationMessageFor(m => m.PerfilUsuario.DataNascimento)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-6 col-lg-3">
                    @Html.Label("Ativo?")
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.PerfilUsuario.Ativo, new { @class = "flat" })
                    </div>
                    @Html.ValidationMessageFor(m => m.PerfilUsuario.Ativo)
                </div>
            </div>
            <div class="row">
                <div class="x_title">
                    <h2>Empresas do Usuário</h2>
                    <div class="clearfix"></div>
                </div>
                <div style="padding-top: 7px">
                    <div class="form-group col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        @Html.DropDownList("ddlEmpresas", (IEnumerable<SelectListItem>)ViewBag.Empresas, "Selecione a empresa", new { @class = "form-control" })
                    </div>
                    <div>
                        <button type="button" id="btnAddEmpresa" class="btn btn-primary btn-dt-action m-r-sm">
                            <i class="fa fa-plus"></i> Adicionar
                        </button>
                    </div>
                </div>
            </div>
            <div id="EmpresasSelecionadas">
                @Html.Partial("_EmpresaGrupo", Model.EmpresasGrupos)
            </div>
            <span class="text-danger validationEmpresa">@Html.ValidationMessageFor(m => m.EmpresasGrupos)</span>
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">Voltar</a>
                <button type="submit" class="btn btn-primary btnSalvar">Salvar</button>
            </div>
        </div>
    </div>


}
