@model FWLog.Web.Backoffice.Models.BOAccountCtx.BOAccountListViewModel
@using Res = Resources.BOAccountStrings
@using FWLog.AspNet.Identity

@{
    ViewBag.Title = "Lista de Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript(
        new
        {
            detailsUrl = Url.Action("Details"),
            detailsVisible = User.HasPermission(Permissions.BOAccount.List),
            editUrl = Url.Action("Edit"),
            editVisible = User.HasPermission(Permissions.BOAccount.Edit),
            deleteUrl = Url.Action("AjaxDelete"),
            deleteVisible = User.HasPermission(Permissions.BOAccount.Delete),
            resetPassUrl = Url.Action("AjaxResetPassword"),
            resetPassVisible = User.HasPermission(Permissions.BOAccount.Edit),
            unlockUrl = Url.Action("AjaxUnlock"),
            unlockVisible = User.HasPermission(Permissions.BOAccount.Edit),
            pageDataUrl = Url.Action("PageData", "BOAccount"),
            unlockMassUrl = Url.Action("AjaxMassUnlock"),
            deleteMassUrl = Url.Action("AjaxMassDelete"),
            deleteModalTitle = Res.DeleteModalTitle,
            deleteModalMessage = Res.DeleteModalMessage,
            resetPasswordModalTitle = Res.ResetPasswordModalTitle,
            resetPasswordModalMessage = Res.ResetPasswordModalMessage,
            resetPasswordAction = Res.ResetPasswordAction,
            unlockModalTitle = Res.UnlockModalTitle,
            unlockModalMessage = Res.UnlockModalMessage,
            unlockAction = Res.UnlockAction,
            deleteAction = Res.DeleteAction,
            deleteMassModalMessage = Res.DeleteMassModalMessage,
            unlockMassModalMessage = Res.UnlockMassModalMessage
        }
    )
}
<form data-filter="form" data-filter-for="dataTable" class="form-filter">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="collapse-link">
                <i class="fa fa-chevron-down fa-fw"></i> @Resources.CommonStrings.FilterHeader
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <div class="row">
                <div class="col-xs-12 col-sm-3 form-group">
                    @Html.LabelFor(m => m.Filter.Nome)
                    @Html.TextBoxFor(m => m.Filter.Nome, new { @class = "form-control", data_field = "Nome" })
                </div>
                <div class="col-xs-12 col-sm-2 form-group">
                    @Html.LabelFor(m => m.Filter.UserName)
                    @Html.TextBoxFor(m => m.Filter.UserName, new { @class = "form-control", data_field = "UserName" })
                </div>
                <div class="col-xs-12 col-sm-3 form-group">
                    @Html.LabelFor(m => m.Filter.Email)
                    @Html.TextBoxFor(m => m.Filter.Email, new { @class = "form-control", data_field = "Email" })
                </div>
                <div id="EmpresaPrincipal" class="col-xs-12 col-md-3 form-group">
                    @Html.LabelFor(m => m.Filter.IdEmpresa, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.RazaoEmpresa, new { id = "razaoSocial", @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarEmpresa" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparEmpresa" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdEmpresa, new { id = "empresaId", data_field = "IdEmpresa" })
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.Filter.Ativo)
                    @Html.DropDownListFor(m => m.Filter.Ativo, (IEnumerable<SelectListItem>)ViewBag.Status, "Selecione...", new { @class = "form-control", data_field = "Ativo" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-buttons">
                    <button type="button" class="btn btn-default" data-filter="clear">@Resources.CommonStrings.ClearAction</button>
                    <button type="button" class="btn btn-primary" data-filter="search">@Resources.CommonStrings.SearchAction</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="x_panel">
    <div class="x_title">
        <h2>Lista de Usuários</h2>
        <div class="nav navbar-right panel_toolbox">
            @if (User.HasPermission(Permissions.BOAccount.Create))
            {
                <a class="btn btn-primary btn-dt-action" href="@Url.Action("Create")"><i class="fa fa-fw fa-plus"></i> Cadastrar</a>
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.EmptyItem.NomeEmpresa)</th>
                    <th>@Html.DisplayNameFor(m => m.EmptyItem.Nome)</th>
                    <th>@Html.DisplayNameFor(m => m.EmptyItem.UserName)</th>
                    <th>@Html.DisplayNameFor(m => m.EmptyItem.Email)</th>
                    <th>@Html.DisplayNameFor(m => m.EmptyItem.Ativo)</th>
                    <th>@Resources.CommonStrings.ActionsLabel</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal" id="modalEmpresaPrincipal" data-toggle="modal"></div>