@model FWLog.Web.Backoffice.Models.BOLogSystemCtx.BOLogSystemDetailsViewModel
@using Res = Resources.BOLogSystemStrings

@{
    ViewBag.Title = Res.DetailsPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

}

<!-- title -->
<div class="page-title">
    <div class="title">
        <h3>@Res.DetailsPageTitle</h3>
    </div> 
</div>
<!-- /title -->
<div class="x_panel">
    <div class="x_title">
        <h2>@Res.LogHeader</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IP, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.IP, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TranslatedActionType, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.TranslatedActionType, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TranslatedEntity, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.TranslatedEntity, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ExecutionDate, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.ExecutionDate, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="form-section-divider">
                    <h3>@Res.ValuesHeader</h3>
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>@Res.FieldLabel</th>
                            <th>@Res.PreviousValueLabel</th>
                            <th>@Res.NewValueLabel</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var change in Model.ColumnChanges)
                        {
                            <tr>
                                <td>@change.TranslatedName</td>
                                <td>@change.OldValue</td>
                                <td>@change.NewValue</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.RelatedLogs.Any())
                {
                    <!-- related logs -->
                    <div class="form-section-divider">
                        <h3>@Res.RelatedLogsHeader</h3>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Res.EntityLabel</th>
                                <th>@Res.ActionTypeLabel</th>
                                <td style="width:0px"></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var relatedLog in Model.RelatedLogs)
                            {
                                <tr>
                                    <td>@relatedLog.TranslatedEntity</td>
                                    <td>@relatedLog.ActionType</td>
                                    <td><a href="@Url.Action("Details", new { id = relatedLog.IdBOLogSystem })" class="underline">Visualizar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- related logs -->
                }
            </div>
        </div>
        <!-- /fields-->
        <!-- footer -->
        <div class="ln_solid"></div>
        <div class="row col-xs-12 form-buttons">
            <a href="@Url.Action("Index")" class="btn btn-default">@Resources.CommonStrings.BackAction</a>                
        </div>
        <!-- /footer -->
    </div>
</div>

