@model FWLog.Web.Backoffice.Models.ProdutoCtx.ProdutoSearchModalViewModel
@{
    Layout = null;
    @BundleHelper.RenderViewScriptModal(
                        new
                        {
                            detailsVisible = false,
                            editVisible = false,
                            deleteVisible = false,
                            pageDataUrl = Url.Action("SearchModalPageData")
                        }

                    )
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Selecione a Referência</h4>
        </div>
        <div class="modal-body">
            <form data-filter="form" data-filter-for="dataTableModal" class="form-filter" id="form-datatable-modal">
                <div class="x_panel">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-4 form-group">
                            @Html.LabelFor(m => m.Filter.Referencia)
                            @Html.TextBoxFor(m => m.Filter.Referencia, new { @class = "form-control", data_field = "Referencia" })
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4 form-group">
                            @Html.LabelFor(m => m.Filter.Descricao)
                            @Html.TextBoxFor(m => m.Filter.Descricao, new { @class = "form-control", data_field = "Descricao" })
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4 form-group">
                            @Html.LabelFor(m => m.Filter.Status)
                            @Html.DropDownListFor(m => m.Filter.Status, Model.Status, "Todos", new { @class = "form-control", data_field = "Status" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-buttons">
                            <button type="button" class="btn btn-default" data-filter="clear">@Resources.CommonStrings.ClearAction</button>
                            <button type="button" class="btn btn-primary" data-filter="search">@Resources.CommonStrings.SearchAction</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <table id="dataTableModal" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(m => m.EmptyItem.Referencia)</th>
                                        <th>@Html.DisplayNameFor(m => m.EmptyItem.Descricao)</th>
                                        <th>@Html.DisplayNameFor(m => m.EmptyItem.Status)</th>
                                        <th>@Resources.CommonStrings.ActionsLabel</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
