@using DartDigital.Library.Web.IO;
@using FWLog.Web.Backoffice.EnumsAndConsts;

@model FWLog.Web.Backoffice.Models.ExampleCtx.MultiSelectModel

@{
    ViewBag.Title = "Example Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- title -->
<div class="page-title">
    <div class="title">
        <h3>Upload de Arquivos</h3>
    </div>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","BOHome")">Início</a></li>
        <li class="active">Exemplos</li>
        <li class="active">MultiSelect</li>
    </ol>
</div>
<!-- /title -->

<div class="row">

    <div class="col-xs-12 col-lg-3">
        @{
            List<SelectListItem> listOne = new List<SelectListItem>();
            listOne.Add(new SelectListItem() { Text = "One", Value = "One" });
            listOne.Add(new SelectListItem() { Text = "Two", Value = "Two" });
            listOne.Add(new SelectListItem() { Text = "Three", Value = "Three" });
            listOne.Add(new SelectListItem() { Text = "Four", Value = "Four" });
        }
        @Html.MultiSelect("listOne", listOne)
    </div>

    <div class="col-xs-12 col-lg-3">
        @{
            List<SelectListItem> listTwo = new List<SelectListItem>();
            listTwo.Add(new SelectListItem() { Text = "One", Value = "One", Group = new SelectListGroup() { Name = "First" } });
            listTwo.Add(new SelectListItem() { Text = "Two", Value = "Two" });
            listTwo.Add(new SelectListItem() { Text = "Three", Value = "Three" });
            listTwo.Add(new SelectListItem() { Text = "Four", Value = "Four" });
        }
        @Html.MultiSelect("listTwo", listTwo)
    </div>

    <div class="col-xs-12 col-lg-3">
        @{
            List<SelectListItem> listThree = new List<SelectListItem>();
            listThree.Add(new SelectListItem() { Text = "One", Value = "One", Group = new SelectListGroup() { Name = "First" } });
            listThree.Add(new SelectListItem() { Text = "Two", Value = "Two" });
            listThree.Add(new SelectListItem() { Text = "Three", Value = "Three" });
            listThree.Add(new SelectListItem() { Text = "Four", Value = "Four" });
        }
        @Html.MultiSelect("listThree", listThree, optionLabel: "Selecione 1", liveSearch: true)
    </div>

    <div class="col-xs-12 col-lg-3">
        @{
            List<SelectListItem> listFour = new List<SelectListItem>();
            listFour.Add(new SelectListItem() { Text = "One", Value = "One", Group = new SelectListGroup() { Name = "First" } });
            listFour.Add(new SelectListItem() { Text = "Two", Value = "Two" });
            listFour.Add(new SelectListItem() { Text = "Three", Value = "Three" });
            listFour.Add(new SelectListItem() { Text = "Four", Value = "Four" });

            Dictionary<string, object> dictionary = new Dictionary<string, object>();
            dictionary.Add("class", "btn-primary");
        }
        @Html.MultiSelect("listFour", listFour, htmlAttributes: dictionary, liveSearch: true)
    </div>

</div>
<br />
<div class="row">

    <div class="col-xs-12 col-lg-3">
        @{
            List<SelectListItem> listFive = new List<SelectListItem>();
            listFive.Add(new SelectListItem() { Text = "One", Value = "One" });
            listFive.Add(new SelectListItem() { Text = "Two", Value = "Two" });
            listFive.Add(new SelectListItem() { Text = "Three", Value = "Three" });
            listFive.Add(new SelectListItem() { Text = "Four", Value = "Four" });
        }
        @Html.MultiSelect("listFive", listFive, multipleSelect: false)
    </div>

    <div class="col-xs-12 col-lg-3">
        @{
            List<SelectListItem> listSix = new List<SelectListItem>();
            listSix.Add(new SelectListItem() { Text = "One", Value = "One" });
            listSix.Add(new SelectListItem() { Text = "Two", Value = "Two" });
            listSix.Add(new SelectListItem() { Text = "Three", Value = "Three" });
            listSix.Add(new SelectListItem() { Text = "Four", Value = "Four" });

            Dictionary<string, object> dictionarySix = new Dictionary<string, object>();
            dictionarySix.Add("data-width", "100%");
        }
        @Html.MultiSelect("listSix", listSix, multipleSelect: true, showTick: true, maxSelection: 2, htmlAttributes: dictionarySix)
    </div>

    <div class="col-xs-12 col-lg-3">
        @{
            List<SelectListItem> listSeven = new List<SelectListItem>();
            listSeven.Add(new SelectListItem() { Text = "One", Value = "One" });
            listSeven.Add(new SelectListItem() { Text = "Two", Value = "Two" });
            listSeven.Add(new SelectListItem() { Text = "Three", Value = "Three" });
            listSeven.Add(new SelectListItem() { Text = "Four", Value = "Four" });
        }
        @Html.MultiSelect("listSeven", listSeven, multipleSelect: true, selectAll: true)
    </div>

    <div class="col-xs-12 col-lg-3">
        @{
            List<SelectListItem> listEight = new List<SelectListItem>();
            listEight.Add(new SelectListItem() { Text = "One", Value = "One" });
            listEight.Add(new SelectListItem() { Text = "Two", Value = "Two" });
            listEight.Add(new SelectListItem() { Text = "Three", Value = "Three" });
            listEight.Add(new SelectListItem() { Text = "Four", Value = "Four" });
            listEight.Add(new SelectListItem() { Text = "Five", Value = "Five" });
            listEight.Add(new SelectListItem() { Text = "Six", Value = "Six" });
            listEight.Add(new SelectListItem() { Text = "Seven", Value = "Seven" });
            listEight.Add(new SelectListItem() { Text = "Eight", Value = "Eight" });
            listEight.Add(new SelectListItem() { Text = "Nine", Value = "Nine" });
            listEight.Add(new SelectListItem() { Text = "Ten", Value = "Ten" });
        }
        @Html.MultiSelect("listEight", listEight, multipleSelect: true, selectAll: true, liveSearch: true)
    </div>

</div>
<br />
@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("id", "MultiSelectForm");
    htmlDicitionary.Add("class", "middle-forms");
    htmlDicitionary.Add("enctype", "multipart/form-data");
}

@using (Html.BeginForm("MultiSelect", "Example", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    <div class="row">

        <div class="col-xs-12 col-lg-3">
            @Html.MultiSelectFor(model => model.SingleValue, (List<SelectListItem>)ViewBag.MultiSelect, liveSearch: true, showTick: true)
        </div>

        <div class="col-xs-12 col-lg-3">
            @Html.MultiSelectFor(model => model.ListValues, (List<SelectListItem>)ViewBag.MultiSelect, liveSearch: true, showTick: true, multipleSelect: true, selectAll: true)
        </div>

        <div class="col-xs-12 col-lg-3">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>

    </div>
}


