@model FWLog.Web.Backoffice.Models.ExampleCtx.TesteValidacaoViewModel

@{
    ViewBag.Title = "Testes de Validação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

@using(Html.BeginForm("TesteValidacao"))
{
    <!-- title -->
    <div class="page-title">
        <div class="title">
            <h3>@ViewBag.Title</h3>
        </div>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "BOHome")">Início</a></li>
            <li class="active">Exemplos</li>
            <li class="active">Testes de Validação</li>
        </ol>
    </div>
    <!-- /title -->
    <div class="x_panel">
        <div class="x_title">
            <h2>Testes de Validação</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- fields -->
            <div class="row">
                <div class="col-xs-12 form-group">
                    <div style="border:1px solid #0094ff;background-color: #e6f1f8;padding:10px">
                        @Model.Message &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.Url, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Url)
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.IP, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.IP, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IP)
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.Cpf, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Cpf)
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.Cnpj, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cnpj, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Cnpj)
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.CpfOrCnpj, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.CpfOrCnpj, new { @class = "cpf-cnpj form-control" })
                    @Html.ValidationMessageFor(m => m.CpfOrCnpj)
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.Cep, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Cep, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Cep)
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.AlphaOnly, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.AlphaOnly, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AlphaOnly)
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.BrazilPhone, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.BrazilPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BrazilPhone)
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.CheckTest)
                            @Html.DisplayNameFor(m => m.CheckTest)
                        </label>
                    </div> 
                </div>
                <div class="col-xs-12 col-sm-12 form-group">
                    @Html.LabelFor(m => m.RequiredIf, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.RequiredIf, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RequiredIf)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
            <!-- /fields -->
        </div>
    </div>
}