@model FWLog.Web.Backoffice.Models.ApplicationLogCtx.ApplicationLogDetailsViewModel
@using Res = Resources.ApplicationLogStrings

@{
    ViewBag.Title = Res.DetailsPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

<div class="x_panel">
    <div class="x_title">
        <h2>@Res.ApplicationLogHeader</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- fields-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Level, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Level, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Created, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Created, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.ApplicationName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.ApplicationName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Message, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Message, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Exception, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Exception, new { @class = "form-control", @readonly = "readonly", rows = "10" })
                </div>
            </div>
        </div>        
        <!-- /fields -->
        <!-- footer -->
        <div class="ln_solid"></div>
        <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">@Resources.CommonStrings.BackAction</a>
        </div>
        <!-- /footer -->
    </div>
</div>
