@model FWLog.Data.Models.DataTablesCtx.DetalhesPedidoVolume
@{
    Layout = null;

    @BundleHelper.RenderViewScriptModal()
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Pedido: @Model.PedidoNro</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="tab-content col-xs-12" id="myTabContent">
                    <div class="informacoes">
                        <div class="row" style="margin-bottom:4px;">
                            <div class="col-xs-6 col-sm-6 col-lg-6">
                                @Html.LabelFor(m => m.PedidoCodigoIntegracao): @Model.PedidoCodigoIntegracao
                            </div>
                            <div class="col-xs-6 col-sm-6 col-lg-6">
                                @Html.LabelFor(m => m.PedidoVendaStatus): @Model.PedidoVendaStatus
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:4px;">
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                @Html.LabelFor(m => m.PedidoPagamentoDescricaoIntegracao): @Model.PedidoPagamentoDescricaoIntegracao
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                @Html.LabelFor(m => m.PedidoDataCriacao): @Model.PedidoDataCriacao.ToShortDateString()
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:4px;">
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                @Html.LabelFor(m => m.PedidoNumeroNotaFiscal): @Model.PedidoNumeroNotaFiscal @Html.LabelFor(m => m.PedidoSerieNotaFiscal): @Model.PedidoSerieNotaFiscal
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                @Html.LabelFor(m => m.PedidoCliente): @Model.PedidoCliente
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:4px;">
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                @Html.LabelFor(m => m.PedidoTransportadora): @Model.PedidoTransportadora
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                @Html.LabelFor(m => m.PedidoRepresentante): @Model.PedidoRepresentante
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Volume: @Model.VolumeNroVolume.ToString().PadLeft(3, '0')</h2>
                </div>
                <div class="tab-content col-xs-12" id="myTabContent">
                    <div class="informacoes">
                        <div class="row" style="margin-bottom:4px;">
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumeNroCentena): @Model.VolumeNroCentena.ToString().PadLeft(4, '0')
                            </div>
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumeCaixaCubagem): @Model.VolumeCaixaCubagem
                            </div>
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumeCaixaVolume): @Model.VolumeCaixaVolume
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:4px;">
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumeCubagem): @Model.VolumeCubagem
                            </div>
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumePeso): @Model.VolumePeso
                            </div>
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumePedidoVendaStatus): @Model.VolumePedidoVendaStatus
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:4px;">
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumeCorredorInicio): @Model.VolumeCorredorInicio.ToString().PadLeft(2, '0')
                            </div>
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumeCorredorFim): @Model.VolumeCorredorFim.ToString().PadLeft(2, '0')
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:4px;">
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumeUsuarioInstalTransportadora): @Model.VolumeUsuarioInstalTransportadora
                            </div>
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumeDataHoraInstalTransportadora): @(Model.VolumeDataHoraInstalTransportadora != null ? Model.VolumeDataHoraInstalTransportadora.Value.ToString("dd/MM/yyyy HH:mm") : null)
                            </div>
                            <div class="col-xs-4 col-sm-4 col-lg-4">
                                @Html.LabelFor(m => m.VolumeEnderecoArmazTransportadora): @Model.VolumeEnderecoArmazTransportadora
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Produtos</h2>
                </div>
                <div class="col-xs-12">
                    <table id="dataTablePedidoVendaModal" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.ListaProdutos.FirstOrDefault().ProdutoReferencia)</th>
                                <th>@Html.DisplayNameFor(m => m.ListaProdutos.FirstOrDefault().CodigoEnderecoPicking)</th>
                                <th>@Html.DisplayNameFor(m => m.ListaProdutos.FirstOrDefault().QuantidadeSeparar)</th>
                                <th>@Html.DisplayNameFor(m => m.ListaProdutos.FirstOrDefault().QuantidadeSeparada)</th>
                                <th>@Html.DisplayNameFor(m => m.ListaProdutos.FirstOrDefault().DataHoraInicioSeparacao)</th>
                                <th>@Html.DisplayNameFor(m => m.ListaProdutos.FirstOrDefault().DataHoraFimSeparacao)</th>
                                <th>@Html.DisplayNameFor(m => m.ListaProdutos.FirstOrDefault().UsuarioSeparacao)</th>
                            </tr>
                        </thead>
                        @{
                            if (Model != null && Model.ListaProdutos != null && Model.ListaProdutos.Count > 0)
                            {
                                foreach (var item in Model.ListaProdutos)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@item.ProdutoReferencia</td>
                                            <td>@item.CodigoEnderecoPicking</td>
                                            <td>@item.QuantidadeSeparar</td>
                                            <td>@item.QuantidadeSeparada</td>
                                            <td>@(item.DataHoraInicioSeparacao.HasValue ? item.DataHoraInicioSeparacao.Value.ToString("dd/MM/yyyy HH:mm") : null)</td>
                                            <td>@(item.DataHoraFimSeparacao.HasValue ? item.DataHoraFimSeparacao.Value.ToString("dd/MM/yyyy HH:mm") : null)</td>
                                            <td>@item.UsuarioSeparacao</td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="row navbar-right">
                <div class="col-sm-12 col-lg-12">
                    <button type="button" id="voltar" class="btn btn-default" style="display:none;">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</div>
