@model FWLog.Web.Backoffice.Models.ExpedicaoCtx.RelatorioPedidosViewModel
@using FWLog.AspNet.Identity
@{
    ViewBag.Title = "Relatório de Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript(
        new
        {
            pageDataUrl = Url.Action("RelatorioPedidosPageData"),
            detailsVisible = true,
            imprimirVisivel = true,
            editarVolumeVisivel = User.HasPermission(Permissions.RelatoriosExpedicao.RelatorioPedidosEditarVolume)
        })
}
<!-- filter -->
<form id="relatorioPedidosForm" data-filter="form" data-filter-for="dataTable" class="form-filter">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="collapse-link">
                <i class="fa fa-chevron-down fa-fw"></i> @Resources.CommonStrings.FilterHeader
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <div class="row">
                <div class="form-group col-sm-3 col-xs-12 col-lg-3 col-md-3">
                    @Html.LabelFor(m => m.Filter.NumeroPedido, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Filter.NumeroPedido, null, new { @class = "form-control", data_field = "NumeroPedido" })
                </div>
                <div class="form-group col-sm-3 col-xs-12 col-lg-3 col-md-3">
                    @Html.LabelFor(m => m.Filter.IdCliente, new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.NomeCliente, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarCliente" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparCliente" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdCliente, new { data_field = "IdCliente" })
                    @Html.ValidationMessageFor(m => m.Filter.IdCliente)
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.IdTransportadora, new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.NomeTransportadora, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarTransportadora" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparTransportadora" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.IdStatus)
                    @Html.DropDownListFor(m => m.Filter.IdStatus, Model.Filter.ListaStatus, "Todos", new { @class = "form-control", data_field = "IdStatus" })
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.DataInicial)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.DataInicial, new { @class = "form-control dateFormat validarDataInicial", data_field = "DataInicial" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Filter.DataInicial)
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.DataFinal)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.DataFinal, new { @class = "form-control dateFormat validarDataFinal", data_field = "DataFinal" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Filter.DataFinal)
                </div>
                <div class="form-group col-md-3 col-xs-12">
                    @Html.LabelFor(m => m.Filter.IdProduto)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.DescricaoProduto, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarProduto" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparProduto" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdProduto, new { data_field = "IdProduto" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-buttons">
                    <button type="button" class="btn btn-default" data-filter="clear">@Resources.CommonStrings.ClearAction</button>
                    <button type="button" id="pesquisar" class="btn btn-primary" data-filter="search">@Resources.CommonStrings.SearchAction</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /table -->
<div id="tabelaTotalPorAlas" class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Relatório de Pedidos</h2>
                <div class="nav navbar-right panel_toolbox">
                    @if (User.HasPermission(Permissions.RelatoriosExpedicao.RelatorioPedidosCadastrarVolume))
                    {
                        <a class="btn btn-primary btn-dt-action" href="@Url.Action("GerenciarVolumes")"><i class="fa fa-fw fa-plus"></i> Gerenciar Volumes</a>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dataTable" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.NroVolume)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.NroCentena)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.DataCriacao)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.DataIntegracao)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.DataImpressao)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.NumeroSerieNotaFiscal)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.DataExpedicao)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.StatusVolume)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.StatusPedido)</th>
                            <th>@Resources.CommonStrings.ActionsLabel</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalTransportadora"></div>
<div class="modal" id="modalDetalhesPedidoVolume"></div>
<div class="modal" id="modalCliente"></div>
<div class="modal fade" id="modalImpressoras" data-backdrop="static"></div>
<div class="modal" id="confirmarReimpressao"></div>
<div class="modal" id="modalProduto"></div>