@model FWLog.Web.Backoffice.Models.PontoArmazenagemCtx.PontoArmazenagemCadastroViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

@using (Html.BeginForm("Cadastrar"))
{
<div class="x_panel">
    <div class="x_title">
        <h2>Cadastrar Ponto de Armazenagem</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="form-group col-sm-4 col-xs-12">
                @Html.LabelFor(m => m.Descricao, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Descricao)
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                @Html.LabelFor(m => m.IdNivelArmazenagem, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.DescricaoNivelArmazenagem, null, new { @class = "form-control", @readonly = "true" })
                    <span class="input-group-btn">
                        <a id="pesquisarNivelArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                        <a id="limparNivelArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                    </span>
                </div>
                @Html.HiddenFor(m => m.IdNivelArmazenagem, new { data_field = "IdNivelArmazenagem" })
                @Html.ValidationMessageFor(m => m.IdNivelArmazenagem)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 col-xs-12">
                @Html.LabelFor(m => m.IdTipoArmazenagem, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.IdTipoArmazenagem, Model.TiposArmazenagem, "Selecione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.IdTipoArmazenagem)
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                @Html.LabelFor(m => m.IdTipoMovimentacao, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.IdTipoMovimentacao, Model.TiposMovimentacao, "Selecione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.IdTipoMovimentacao)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4 col-xs-12">
                @Html.LabelFor(m => m.LimitePesoVertical, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LimitePesoVertical, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LimitePesoVertical)
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                @Html.LabelFor(m => m.Ativo, new { @class = "control-label" })
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.Ativo, new { @class = "flat" })
                    Ativo
                </div>
                @Html.ValidationMessageFor(m => m.Ativo)
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="row col-xs-12 form-buttons">
            <a href="@Url.Action("Index")" class="btn btn-default">Voltar</a>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </div>
</div>
}
<div class="modal" id="modalPesquisaNivelArmazenagem"></div>
