@model FWLog.Web.Backoffice.Models.CaixaCtx.CaixaListaViewModel
@using FWLog.AspNet.Identity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript(
        new
        {
            urlDetalhes = Url.Action("Detalhes"),
            destalhesVisivel = User.HasPermission(Permissions.Caixa.Visualizar),
            urlEditar = Url.Action("Editar"),
            editarVisivel = User.HasPermission(Permissions.Caixa.Editar),
            urlExcluir = Url.Action("ExcluirAjax"),
            excluirVisivel = User.HasPermission(Permissions.Caixa.Excluir),
            urlDadosLista = Url.Action("DadosLista")
        })
}

<form data-filter="form" data-filter-for="dataTable" class="form-filter">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="collapse-link">
                <i class="fa fa-chevron-down fa-fw"></i> Filtros
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <div class="row">
                <div class="form-group col-md-6 col-lg-3">
                    @Html.LabelFor(m => m.Filtros.Nome)
                    @Html.TextBoxFor(m => m.Filtros.Nome, new { @class = "form-control", data_field = "Nome" })
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    @Html.LabelFor(m => m.Filtros.TextoEtiqueta)
                    @Html.TextBoxFor(m => m.Filtros.TextoEtiqueta, new { @class = "form-control", data_field = "TextoEtiqueta" })
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    @Html.LabelFor(m => m.Filtros.PesoMaximo)
                    @Html.TextBoxFor(m => m.Filtros.PesoMaximo, new { @class = "form-control", data_field = "PesoMaximo" })
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    @Html.LabelFor(m => m.Filtros.Cubagem)
                    @Html.TextBoxFor(m => m.Filtros.Cubagem, new { @class = "form-control", data_field = "Cubagem" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-lg-3">
                    @Html.LabelFor(m => m.Filtros.Sobra)
                    @Html.TextBoxFor(m => m.Filtros.Sobra, new { @class = "form-control", data_field = "Sobra" })
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    @Html.LabelFor(m => m.Filtros.IdCaixaTipo)
                    @Html.DropDownListFor(m => m.Filtros.IdCaixaTipo, Model.ListaCaixaTipo, "Todos...", new { @class = "form-control", data_field = "IdCaixaTipo" })
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    @Html.LabelFor(m => m.Filtros.PesoCaixa)
                    @Html.TextBoxFor(m => m.Filtros.PesoCaixa, new { @class = "form-control", data_field = "PesoCaixa" })
                </div>
                <div class="form-group col-md-6 col-lg-3">
                    @Html.LabelFor(m => m.Filtros.Prioridade)
                    @Html.TextBoxFor(m => m.Filtros.Prioridade, new { @class = "form-control", data_field = "Prioridade" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-lg-2">
                    @Html.LabelFor(m => m.Filtros.Status)
                    @Html.DropDownListFor(m => m.Filtros.Status, Model.ListaStatus, "Todos...", new { @class = "form-control", data_field = "Status" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-buttons">
                    <button type="button" class="btn btn-default" data-filter="clear">@Resources.CommonStrings.ClearAction</button>
                    <button type="button" class="btn btn-primary" data-filter="search">@Resources.CommonStrings.SearchAction</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Lista de Caixas</h2>
                <div class="nav navbar-right panel_toolbox">
                    @if (User.HasPermission(Permissions.PontoArmazenagem.Cadastrar))
                    {
                        <a class="btn btn-primary btn-dt-action" href="@Url.Action("Cadastrar")"><i class="fa fa-fw fa-plus"></i> Cadastrar</a>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dataTable" class="table table-striped table-bordered dt-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.ItemVazio.Nome)</th>
                            <th>@Html.DisplayNameFor(m => m.ItemVazio.TextoEtiqueta)</th>
                            <th>@Html.DisplayNameFor(m => m.ItemVazio.PesoMaximo)</th>
                            <th>@Html.DisplayNameFor(m => m.ItemVazio.Cubagem)</th>
                            <th>@Html.DisplayNameFor(m => m.ItemVazio.Sobra)</th>
                            <th>@Html.DisplayNameFor(m => m.ItemVazio.CaixaTipoDescricao)</th>
                            <th>@Html.DisplayNameFor(m => m.ItemVazio.PesoCaixa)</th>
                            <th>@Html.DisplayNameFor(m => m.ItemVazio.Prioridade)</th>
                            <th>@Html.DisplayNameFor(m => m.ItemVazio.Status)</th>
                            <th>@Resources.CommonStrings.ActionsLabel</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>