@using FWLog.Web.Backoffice.Helpers
@using DartDigital.Library.Web.Globalization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <script>
        var HOST_URL = "@HtmlRequestHelper.Host()";
        var CONTROLLER_PATH = "@( HtmlRequestHelper.Controller() + '/')";

        Object.defineProperty(String, 'empty', {
            get: function () {
                return new String().toString();
            }
        });
    </script>
    @Styles.Render("~/style-bundles/vendors/nprogress")
    @Styles.Render("~/style-bundles/vendors/dropzone")
    @Styles.Render("~/style-bundles/bootstrap")
    @Styles.Render("~/style-bundles/vendors/pnotify")
    @Styles.Render("~/style-bundles/vendors/datatables")
    @Styles.Render("~/style-bundles/vendors/iCheck")
    @Styles.Render("~/style-bundles/vendors/datetimepicker")
    @Styles.Render("~/style-bundles/vendors/bootstrap-select")
    @Styles.Render("~/style-bundles/vendors/cropper")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_Sidebar")
                @Html.Partial("_Header")
            }
            <div class="right_col" role="main" style="height: 100%">
                <div class="clearfix"></div>
                @RenderBody()
            </div>
            <footer>
                <div class="pull-right">
                    &copy; @DateTimeConvert.UtcNow.ToStandardTime().Year @Resources.CommonStrings.DevelopedBy <a href="http://www.dartdigital.com.br" target="_blank">Dart Digital</a>
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>

    </div>

    @Html.Partial("_JavaScriptGlobalResources")
    @Scripts.Render("~/script-bundles/jquery")
    @Scripts.Render("~/script-bundles/jqueryval")
    @Scripts.Render("~/script-bundles/vendors/nprogress")
    @Scripts.Render("~/script-bundles/bootstrap")
    @Scripts.Render("~/script-bundles/vendors/pnotify")
    @Scripts.Render("~/script-bundles/vendors/datatables")
    @Scripts.Render("~/script-bundles/vendors/iCheck")
    @Scripts.Render("~/script-bundles/vendors/moment")
    @Scripts.Render("~/script-bundles/vendors/datetimepicker")
    @Scripts.Render("~/script-bundles/vendors/mask")
    @Scripts.Render("~/script-bundles/vendors/dropzone")
    @Scripts.Render("~/script-bundles/vendors/bootstrap-select")
    @Scripts.Render("~/script-bundles/vendors/cropper")
    @Scripts.Render("~/script-bundles/vendors/autocomplete")
    @Html.Partial("_ScriptGlobalOptions")
    @Scripts.Render("~/script-bundles/dart")
    @Html.Partial("_Notify")
    @RenderSection("Scripts", required: false)
</body>
</html>
