@model FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.BODetalhesEntradaConferenciaViewModel
@{
    Layout = null;
    @BundleHelper.RenderViewScriptModal(new
    {
        idNotaFiscal = Model.IdNotaFiscal
    })
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body" style="overflow: auto; max-height: calc(100vh - 150px);">
            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" id="entradaConferenciaTab" data-toggle="tab" href="#entradaConferencia" role="tab" aria-controls="entradaConferencia" aria-selected="true">Entrada/Conferência</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="divergenciasTab" data-toggle="tab" href="#divergencias" role="tab" aria-controls="divergencias" aria-selected="false">Divergências</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active in" id="entradaConferencia" role="tabpanel" aria-labelledby="entradaConferenciaTab">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <h3 style="margin-bottom: 0px;">Entrada</h3>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="nav navbar-right">
                                <a id="downloadDetalhesNotaEntradaConferencia" data-toggle="tooltip" title="Download Detalhes Nota Fiscal" class="btn btn-default"><i class="fa fa-fw fa-download"></i></a>
                                <a id="imprimirDetalhesNotaEntradaConferencia" data-toggle="tooltip" title="Imprimir Detalhes Nota Fiscal" class="btn btn-default"><i class="fa fa-fw fa-print"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="ln_solid" style="margin-bottom: 15px; margin-top: 0px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            @Html.LabelFor(m => m.ChaveAcesso): @Model.ChaveAcesso
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            @Html.LabelFor(m => m.StatusNotaFiscal): @Model.StatusNotaFiscal
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            @Html.LabelFor(m => m.Fornecedor): @Model.Fornecedor
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            @Html.LabelFor(m => m.TransportadoraNome): @Model.TransportadoraNome
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.NumeroLote): @Model.NumeroLote
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.NumeroNotaFiscal): @Model.NumeroNotaFiscal
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            @Html.LabelFor(m => m.FornecedorCNPJ): @Model.FornecedorCNPJ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.QuantidadePeca): @Model.QuantidadePeca
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.PrazoRecebimento): @Model.PrazoRecebimento
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.DataCompra): @Model.DataCompra
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.DataChegada): @Model.DataChegada
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.Volumes): @Model.Volumes
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.DiasAtraso): @Model.DiasAtraso
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.PesoConhecimento): @Model.PesoConhecimento
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.NumeroConhecimento): @Model.NumeroConhecimento
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.ValorTotal): @Model.ValorTotal
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.LabelFor(m => m.ValorFrete): @Model.ValorFrete
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            @Html.LabelFor(m => m.UsuarioRecebimento): @Model.UsuarioRecebimento
                        </div>
                    </div>
                    @if (Model.EmConferenciaOuConferido)
                    {
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <h3 style="margin-bottom: 0px;">Conferência</h3>
                                <div class="ln_solid" style="margin-bottom: 15px; margin-top: 0px;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                @Html.LabelFor(m => m.ConferenciaTipo): @Model.ConferenciaTipo
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                @Html.LabelFor(m => m.UsuarioConferencia): @Model.UsuarioConferencia
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                @Html.LabelFor(m => m.DataInicioConferencia): @Model.DataInicioConferencia
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                @Html.LabelFor(m => m.DataFimConferencia): @Model.DataFimConferencia
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                @Html.LabelFor(m => m.TempoTotalConferencia): @Model.TempoTotalConferencia
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <label>Lote não conferido.</label>
                            </div>
                        </div>
                    }
                    <div class="row" style="margin-top: 25px; overflow-y: auto; height: 300px">
                        <div class="col-sm-12 col-lg-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Referência</th>
                                        <th>Quantidade</th>
                                        <th>Início Conferência</th>
                                        <th>Termino Conferência</th>
                                        <th>Conferido por</th>
                                        <th>Tempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Items.Count > 0)
                                    {
                                        foreach (var item in Model.Items)
                                        {
                                            <tr>
                                                <td>@item.Referencia</td>
                                                <td>@item.Quantidade</td>
                                                <td>@item.DataInicioConferencia</td>
                                                <td>@item.DataFimConferencia</td>
                                                <td>@item.UsuarioConferencia</td>
                                                <td>@item.TempoConferencia</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="even">
                                            <td colspan="6" class="text-center">Nenhum registro.</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="divergencias" role="tabpanel" aria-labelledby="divergenciasTab">
                    @if (Model.Divergencias.Divergencias.Any())
                    {
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12 col-lg-4">
                                    @Html.LabelFor(m => m.Divergencias.NotaFiscal): @Html.DisplayTextFor(m => m.Divergencias.NotaFiscal)
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    @Html.LabelFor(m => m.Divergencias.StatusNotasFiscal): @Html.DisplayTextFor(m => m.Divergencias.StatusNotasFiscal)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-4">
                                    @Html.LabelFor(m => m.Divergencias.ConferidoPor): @Html.DisplayTextFor(m => m.Divergencias.ConferidoPor)
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    @Html.LabelFor(m => m.Divergencias.InicioConferencia): @Html.DisplayTextFor(m => m.Divergencias.InicioConferencia)
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    @Html.LabelFor(m => m.Divergencias.FimConferencia): @Html.DisplayTextFor(m => m.Divergencias.FimConferencia)
                                </div>
                            </div>
                            <div class="row" style="margin-top: 25px; overflow-y: auto;">
                                <div class="col-sm-12 col-lg-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>@Html.LabelFor(m => m.Divergencias.Divergencias[0].Referencia)</th>
                                                <th style="text-align:center">@Html.LabelFor(m => m.Divergencias.Divergencias[0].QuantidadeNotaFiscal)</th>
                                                <th style="text-align:center">@Html.LabelFor(m => m.Divergencias.Divergencias[0].QuantidadeConferencia)</th>
                                                <th style="text-align:center">@Html.LabelFor(m => m.Divergencias.Divergencias[0].QuantidadeMais)</th>
                                                <th style="text-align:center">@Html.LabelFor(m => m.Divergencias.Divergencias[0].QuantidadeMenos)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Divergencias.Divergencias.Count(); i++)
                                            {
                                                <tr class="linha-divergencia">
                                                    <td>@Model.Divergencias.Divergencias[i].Referencia</td>
                                                    <td style="text-align:center">@Model.Divergencias.Divergencias[i].QuantidadeNotaFiscal</td>
                                                    <td style="text-align:center">@Model.Divergencias.Divergencias[i].QuantidadeConferencia</td>
                                                    <td style="text-align:center">@Model.Divergencias.Divergencias[i].QuantidadeMais</td>
                                                    <td style="text-align:center">@Model.Divergencias.Divergencias[i].QuantidadeMenos</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.Finalizado)
                    {
                        <p>
                            Nenhuma divergência encontrada.
                        </p>
                    }
                    else
                    {
                        <p>
                            A conferência do Lote não foi finalizado.
                        </p>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnFecharModal">Fechar</button>
        </div>
    </div>
</div>
