@model FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.BODetalhesEntradaConferenciaViewModel
@{
    Layout = null;
    @BundleHelper.RenderViewScriptModal()
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" id="entradaConferenciaTab" data-toggle="tab" href="#entradaConferencia" role="tab" aria-controls="entradaConferencia" aria-selected="true">Entrada/Conferência</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="divergenciasTab" data-toggle="tab" href="#divergencias" role="tab" aria-controls="divergencias" aria-selected="false">Divergências</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active in" id="entradaConferencia" role="tabpanel" aria-labelledby="entradaConferenciaTab">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <h3 style="margin-bottom: 0px;">Entrada</h3>
                            <div class="ln_solid" style="margin-bottom: 10px; margin-top: 0px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            @Html.Label("DANFE"): @Model.DANFE
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            @Html.Label("Fornecedor"): @Model.Fornecedor
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            @Html.Label("Transportadora"): @Model.TransportadoraNome
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Lote"): @Model.NumeroLote
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Nota"): @Model.NumeroNotaFiscal
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Chegada"): @Model.DataChegada
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Status"): @Model.StatusNotaFiscal
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Quantidade"): @Model.Quantidade
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Prazo"): @Model.PrazoRecebimento
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Compras"): @Model.DataCompra
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Nro. Conhecimento"): @Model.NumeroConhecimento
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Volumes"): @Model.Volumes
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Atraso"): @Model.DiasAtraso
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("CNPJ"): @Model.FornecedorCNPJ
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Peso Conhecimento"): @Model.PesoConhecimento
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Valor Total"): @Model.ValorTotal
                        </div>
                        <div class="col-sm-12 col-lg-3">
                            @Html.Label("Frete"): @Model.ValorFrete
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            @Html.Label("Recebido por"): @Model.UsuarioRecebimento
                        </div>
                    </div>
                    @if (Model.IsNotaConferida)
                    {
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <h3 style="margin-bottom: 0px;">Conferência</h3>
                                <div class="ln_solid" style="margin-bottom: 10px; margin-top: 0px;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                @Html.Label("Tipo de Conferência"): @Model.ConferenciaTipo
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                @Html.Label("Conferido por"): @Model.UsuarioConferencia
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                @Html.Label("Início"): @Model.DataInicioConferencia
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                @Html.Label("Fim"): @Model.DataFimConferencia
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                @Html.Label("Tempo Total"): @Model.TempoTotalConferencia
                            </div>
                        </div>
                    }
                    <div class="row" style="margin-top: 20px; overflow-y: auto; height: 300px">
                        <div class="col-sm-12 col-lg-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Referência</th>
                                        <th>Quantidade</th>
                                        <th>Início Conferência</th>
                                        <th>Termino Conferência</th>
                                        <th>Conferido por</th>
                                        <th>Tempo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Items.Count > 0)
                                    {
                                        foreach (FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.BODetalhesEntradaConferenciaItem item in Model.Items)
                                        {
                                            <tr>
                                                <td>@item.Referencia</td>
                                                <td>@item.Quantidade</td>
                                                <td>@item.DataInicioConferencia</td>
                                                <td>@item.DataFimConferencia</td>
                                                <td>@item.UsuarioConferencia</td>
                                                <td>@item.TempoTotalConferencia</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="even">
                                            <td colspan="6">Nenhum item informado na nota fiscal</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="divergencias" role="tabpanel" aria-labelledby="divergenciasTab">
                    TODO
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
