@model FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.BOImprimirDevolucaoTotalViewModel
@{
    Layout = null;

    @BundleHelper.RenderViewScriptModal()
}

<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" style="z-index: 1000">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Devolução Total</h4>
            </div><div class="container"></div>
            <div class="modal-body" style="overflow: auto; max-height: calc(90vh - 40px);">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <p>Para prosseguir, informe a quantidade de etiquetas e clique na opção Confirmar.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        @Html.LabelFor(m => m.QuantidadeEtiqueta)
                        @Html.TextBoxFor(m => m.QuantidadeEtiqueta, new { @class = "form-control onlyNumber", maxlength = 3 })
                        <span class="red" style="font-size: 10px;">*por padrão, o sistema preenche este campo com  quantidade de volumes.</span>
                        @Html.ValidationMessageFor(m => m.QuantidadeEtiqueta)
                    </div>
                </div>
                @Html.Hidden("NumeroNF", Model.NumeroNF)
                @Html.Hidden("Serie", Model.Serie)
                @Html.Hidden("IdLote", Model.IdLote)
                @Html.Hidden("IdNotaFiscal", Model.IdNotaFiscal)
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default fecharModal" data-dismiss="modal">Cancelar</a>
                <a id="finalizarDevolucaoTotal" class="btn btn-primary"><i class="fa fa-fw fa-floppy-o"></i>Confirmar</a>
            </div>
        </div>
    </div>
</div>
