@model FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.BOImprimirDevolucaoTotalViewModel
@{
    Layout = null;

    @BundleHelper.RenderViewScriptModal()
}

<div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" style="z-index: 1000">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Devolução Total</h4>
            </div><div class="container"></div>
            <div class="modal-body" style="overflow: auto; max-height: calc(90vh - 40px);">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <span>O sistema identificou que todos os volumes da nota <b>@Model.NumeroNF</b> - <b>@Model.Serie</b> deverão ser devolvidos. Para que o lote seja finalizado, clique na opção Finalizar.</span>
                        @Html.Hidden("NumeroNF"    , Model.NumeroNF)
                        @Html.Hidden("Serie"       , Model.Serie)
                        @Html.Hidden("IdLote"      , Model.IdLote)
                        @Html.Hidden("IdNotaFiscal", Model.IdNotaFiscal)
                    </div>
                  
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                <a id="finalizarDevolucaoTotal" class="btn btn-primary"><i class="fa fa-fw fa-floppy-o"></i>Finalizar</a>
            </div>>
            </div>
        </div>
    </div>
</div>
