@model FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.BORecebimentoNotaListViewModel
@using FWLog.AspNet.Identity

@{
    ViewBag.Title = "Notas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @FWLog.Web.Backoffice.Helpers.Bundling.BundleHelper.RenderViewScript(
			new
			{
				detalhesEntradaConferencia = Url.Action("DetalhesEntradaConferencia"),
				detailsVisible = User.HasPermission(Permissions.Recebimento.List),
				pageDataUrl = Url.Action("PageData"),
				registrarRecebimento = User.HasPermission(Permissions.Recebimento.RegistrarRecebimento),
				registrarRecebimentoUrl = Url.Action("ExibirModalRegistroRecebimento"),
			}
		)
}

<div class="page-title">
    <div class="title">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<form data-filter="form" data-filter-for="dataTable" class="form-filter" id="formRecebimentoNota">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="collapse-link">
                <i class="fa fa-chevron-down fa-fw"></i> @Resources.CommonStrings.FilterHeader
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.Lote)
                    @Html.TextBoxFor(m => m.Filter.Lote, new { @class = "form-control onlyNumber", data_field = "Lote"})                    
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.Nota)
                    @Html.TextBoxFor(m => m.Filter.Nota, new { @class = "form-control onlyNumber", data_field = "Nota" })
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.Chave)
                    @Html.TextBoxFor(m => m.Filter.Chave, new { @class = "form-control onlyNumber", data_field = "DANFE" })
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.IdStatus)
                    @Html.DropDownListFor(m => m.Filter.IdStatus, Model.Filter.ListaStatus, "Selecione...", new { @class = "form-control", data_field = "IdStatus"})
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.DataInicial)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.DataInicial, new { @class = "form-control dateFormat ", data_field = "DataInicial" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.DataFinal)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.DataFinal, new { @class = "form-control dateFormat", data_field = "DataFinal" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.PrazoInicial)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.PrazoInicial, new { @class = "form-control dateFormat EmailValido", data_field = "PrazoInicial", @required = "required" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Filter.PrazoInicial)
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.PrazoFinal)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.PrazoFinal, new { @class = "form-control dateFormat", data_field = "PrazoFinal" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Filter.PrazoFinal)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(model => model.Filter.IdFornecedor, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.RazaoSocialFornecedor, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarFornecedor" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparFornecedor" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdFornecedor, new { data_field = "IdFornecedor" })
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.Atraso)
                    @Html.TextBoxFor(m => m.Filter.Atraso, new { @class = "form-control onlyNumber", data_field = "Atraso" })
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.QuantidadePeca)
                    @Html.TextBoxFor(m => m.Filter.QuantidadePeca, new { @class = "form-control onlyNumber", data_field = "QuantidadePeca" })
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.QuantidadeVolume)
                    @Html.TextBoxFor(m => m.Filter.QuantidadeVolume, new { @class = "form-control onlyNumber", data_field = "QuantidadeVolume" })
                </div>                
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(model => model.Filter.IdUsuarioRecebimento, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.UserNameRecebimento, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarUsuarioRecebimento" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparUsuarioRecebimento" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdUsuarioRecebimento, new { data_field = "IdUsuarioRecebimento" })
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(model => model.Filter.IdUsuarioConferencia, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.UserNameConferencia, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarUsuarioConferencia" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparUsuarioConferencia" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(model => model.Filter.IdUsuarioConferencia, new { data_field = "IdUsuarioConferencia" })
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.TempoInicial)
                    @Html.TextBoxFor(m => m.Filter.TempoInicial, new { @class = "form-control", data_field = "TempoInicial" })
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.TempoFinal)
                    @Html.TextBoxFor(m => m.Filter.TempoFinal, new { @class = "form-control", data_field = "TempoFinal" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-buttons">
                    <button type="button" class="btn btn-default" data-filter="clear" id="limpaPesquisaRecebimentoNota">@Resources.CommonStrings.ClearAction</button>
                    <button type="button" class="btn btn-primary" data-filter="search" id="pesquisaRecebimentoNota">@Resources.CommonStrings.SearchAction</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Notas</h2>
                <div class="nav navbar-right">
                    <div class="col-xs-12">
                        <a id="downloadRelatorio" data-toggle="tooltip" title="Download Relatório" class="btn btn-default"><i class="fa fa-fw fa-download"></i></a>
                        <a id="imprimirRelatorio" data-toggle="tooltip" title="Imprimir Relatório" class="btn btn-default"><i class="fa fa-fw fa-print"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Lote)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Nota)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.QuantidadePeca)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.QuantidadeVolume)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.RecebidoEm)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Atraso)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Prazo)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Fornecedor)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Status)</th>
                            <th>@Resources.CommonStrings.ActionsLabel</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalEtiquetaConferencia"></div>
<div class="modal" id="modalImpressoras"></div>
<div class="modal" id="modalRegistroRecebimento" data-backdrop="static"></div>
<div class="modal" id="modalDetalhesEntradaConferencia"></div>
<div class="modal" id="modalFornecedor"></div>
<div class="modal" id="modalUsuarioRecebimento" data-toggle="modal" data-myvalue="1"></div>
<div class="modal" id="modalUsuarioConferencia" data-toggle="modal" data-myvalue="2"></div>
<div class="modal" id="modalConferencia"></div>

