@model FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.BONotaRecebimentoViewModel



<div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="form-group">
        @Html.Label("Nota")
        @Html.TextBoxFor(m => m.NumeroNF, new { @class = "form-control onlyNumber", maxlength = 9 })
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="form-group">
        @Html.Label("Série")
        @Html.TextBoxFor(m => m.Serie, new { @class = "form-control", maxlength = 3 })
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="form-group">
        @Html.Label("Valor")
        @Html.TextBoxFor(m => m.Valor, new { @class = "form-control money" })
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-3">
    <div class="form-group">
        @Html.Label("Qtd Volumes")
        @Html.TextBoxFor(m => m.QuantidadeVolumes, new { @class = "form-control onlyNumber", maxlength = 5 })
    </div>
</div>

