@model FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.BORegistroRecebimentoViewModel
@{
Layout = null;

@BundleHelper.RenderViewScriptModal()
}
                        
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Entrada")
        @Html.TextBoxFor(m => m.DataRecebimento, new { @class = "form-control", @readonly = "readonly" })
        @Html.HiddenFor(m => m.DataAtual)
    </div>
</div>
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Hora")
        @Html.TextBoxFor(m => m.HoraRecebimento, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Fornecedor")
        @Html.TextBoxFor(m => m.FornecedorNome, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Nota/Série")
        @Html.TextBoxFor(m => m.NumeroSerieNotaFiscal, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Valor Total")
        @Html.TextBoxFor(m => m.ValorTotal, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Valor Frete")
        @Html.TextBoxFor(m => m.ValorFrete, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Nro Conhecimento")
        @Html.TextBoxFor(m => m.NumeroConhecimento, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Qtd Volumes")
        @Html.TextBoxFor(m => m.QtdVolumes, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Transportadora")
        @Html.TextBoxFor(m => m.TransportadoraNome, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
<div class="col-sm-12 col-sm-6">
    <div class="form-group">
        @Html.Label("Peso Conhecimento")
        @Html.TextBoxFor(m => m.Peso, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>
