@model  List<FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.RelatorioResumoProducaoRecebimentoListItemViewModel>
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @section Scripts {
        @BundleHelper.RenderViewScript()
    }

    <div class="x_panel">
        <div class="x_title">
            <h2>Recebimento</h2>
            <div class="clearfix"></div>
        </div>
        @*<div class="x_content">
            <div class="row">
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.NomeUsuario, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.NomeUsuario, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.NotasRecebidas, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.NotasRecebidas, new { @class = "form-control" })
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.PecasRecebidas, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PecasRecebidas, new { @class = "form-control onlyNumber", type = "number" })
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.NotasRecebidasUsuario, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.NotasRecebidasUsuario, new { @class = "form-control onlyNumber", type = "number" })
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.PecasRecebidasUsuario, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PecasRecebidasUsuario, new { @class = "form-control onlyNumber", type = "number" })
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.Ranking, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Ranking, new { @class = "form-control onlyNumber", type = "number" })
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    @Html.LabelFor(m => m.Percentual, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Percentual, new { @class = "form-control onlyNumber", type = "number" })
                </div>
            </div>
        </div>*@
    </div>

