@model FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.ResumoFinalizarConferenciaViewModel
@{
    Layout = null;

    @BundleHelper.RenderViewScriptModal()
}

<div class="modal-dialog modal-lg">
    <form name="divergencias" id="divergencias">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Resumo da Conferência</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.IdNotaFiscal)
                @Html.HiddenFor(m => m.IdLote)
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.IdLote):@Model.IdLote
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(f => f.NumeroNotaFiscal): @Model.NumeroNotaFiscal
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(f => f.DataRecebimento): @Model.DataRecebimento
                        </div>
                    </div>
                    <div class="col-xs-7 col-md-3 ">
                        <div class="form-group">
                            @Html.LabelFor(f => f.NomeConferente): @Model.NomeConferente
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(f => f.RazaoSocialFornecedor): @Model.RazaoSocialFornecedor
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(f => f.QuantidadeVolume): @Model.QuantidadeVolume
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(f => f.TipoConferencia): @Model.TipoConferencia
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px; overflow-y: auto;">
                    <div class="col-sm-12 col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.LabelFor(m => m.Itens[0].Referencia)</th>
                                    <th>@Html.LabelFor(m => m.Itens[0].DescricaoProduto)</th>
                                    <th style="text-align:center">@Html.LabelFor(m => m.Itens[0].QuantidadeNota)</th>
                                    <th style="text-align:center">@Html.LabelFor(m => m.Itens[0].QuantidadeConferido)</th>
                                    <th style="text-align:center">@Html.LabelFor(m => m.Itens[0].DivergenciaMais)</th>
                                    <th style="text-align:center">@Html.LabelFor(m => m.Itens[0].DivergenciaMenos)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Itens)
                                {
                                <tr class="linha-divergencia">
                                    <td>@item.Referencia</td>
                                    <td>@item.DescricaoProduto</td>
                                    <td style="text-align:center">@item.QuantidadeNota</td>
                                    <td style="text-align:center">@item.QuantidadeConferido</td>
                                    <td style="text-align:center">@item.DivergenciaMais</td>
                                    <td style="text-align:center">@item.DivergenciaMenos</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row navbar-right">
                    <div class="col-sm-12 col-lg-12">
                        <button type="button" id="btnVoltarConferencia" class="btn btn-default">Voltar</button>
                        <button type="button" id="btnFinalizarConferencia" class="btn btn-primary">Finalizar Conferência</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>