@model FWLog.Web.Backoffice.Models.BORecebimentoNotaCtx.RecebimentoTratarDivergenciaViewModel
@{
    Layout = null;

    @BundleHelper.RenderViewScriptModal()
}

<div class="modal-dialog modal-lg">
    <form name="divergencias" id="divergencias">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Tratar Divergências da Conferência</h4>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                @Html.LabelFor(m => m.NotaFiscal): @Html.DisplayTextFor(m => m.NotaFiscal)
                                @Html.HiddenFor(m => m.IdNotaFiscal)
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                @Html.LabelFor(m => m.StatusNotasFiscal): @Html.DisplayTextFor(m => m.StatusNotasFiscal)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                @Html.LabelFor(m => m.ConferidoPor): @Html.DisplayTextFor(m => m.ConferidoPor)
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                @Html.LabelFor(m => m.InicioConferencia): @Html.DisplayTextFor(m => m.InicioConferencia)
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                @Html.LabelFor(m => m.FimConferencia): @Html.DisplayTextFor(m => m.FimConferencia)
                            </div>
                        </div>
                        <div class="row" style="margin-top: 25px; overflow-y: auto;">
                            <div class="col-sm-12 col-lg-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Referência</th>
                                            <th style="width:100px; text-align:center">Nota</th>
                                            <th style="width:100px; text-align:center">Conferido</th>
                                            <th style="width:100px; text-align:center">A+</th>
                                            <th style="width:100px; text-align:center">A-</th>
                                            <th style="width:100px;">Qtd. A+</th>
                                            <th style="width:100px;">Qtd. A-</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Divergencias.Count > 0)
                                        {
                                            for (int i = 0; i < Model.Divergencias.Count(); i++)
                                            {
                                                <tr class="linha-divergencia">
                                                    <td>
                                                        @Model.Divergencias[i].Referencia
                                                        @Html.Hidden(string.Format("Divergencias[{0}].IdLoteDivergencia", i), Model.Divergencias[i].IdLoteDivergencia)
                                                    </td>
                                                    <td style="text-align:center">
                                                        @Model.Divergencias[i].QuantidadeNotaFiscal
                                                        @Html.Hidden(string.Format("Divergencias[{0}].QuantidadeNotaFiscal", i), Model.Divergencias[i].QuantidadeNotaFiscal, new { @class = "quantidade-nota" })
                                                    </td>
                                                    <td style="text-align:center">@Model.Divergencias[i].QuantidadeConferencia</td>
                                                    <td style="text-align:center">@Model.Divergencias[i].QuantidadeMais</td>
                                                    <td style="text-align:center">@Model.Divergencias[i].QuantidadeMenos</td>
                                                    <td>@Html.TextBox(string.Format("Divergencias[{0}].QuantidadeMaisTratado", i), Model.Divergencias[i].QuantidadeMaisTratado, new { @class = "form-control onlyNumber quantidade-mais" })</td>
                                                    <td>@Html.TextBox(string.Format("Divergencias[{0}].QuantidadeMenosTratado", i), Model.Divergencias[i].QuantidadeMenosTratado, new { @class = "form-control onlyNumber quantidade-menos" })</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="even">
                                                <td colspan="8">Nenhuma divergencia encontrada na conferência da nota fiscal</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row navbar-right">
                            <div class="col-sm-12 col-lg-12">
                                <span class="text-danger validacao-confirmar"></span>
                                <button type="button" id="tratarDivergenciasRecebimento" class="btn btn-primary"><i class="fa fa-fw fa-floppy-o"></i>Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>