@model FWLog.Web.Backoffice.Models.NivelArmazenagemCtx.NivelArmazenagemCreateViewModel

@{
    ViewBag.Title = "Edição de Nível Armazenagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

@using (Html.BeginForm())
{
    <div class="x_panel">
        <div class="x_title">
            <h2>Editar Nível de Armazenagem</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- fields -->
            <div class="row">
                @Html.HiddenFor(m => m.IdNivelArmazenagem)
                @Html.HiddenFor(m => m.IdEmpresa)
                <div class="form-group form-group col-sm-6 col-xs-12">
                    @Html.LabelFor(m => m.Descricao, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Descricao)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-6 col-lg-3">
                    @Html.LabelFor(m => m.Ativo)
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.Ativo, new { @class = "flat" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Ativo)
                </div>
            </div>
            <!-- /fields -->
            <!-- footer -->
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">@Resources.CommonStrings.CancelAction</a>
                <button type="submit" class="btn btn-primary">@Resources.CommonStrings.ConfirmAction</button>
            </div>
            <!-- /footer -->
        </div>
    </div>
}


