@model FWLog.Web.Backoffice.Models.NivelArmazenagemCtx.NivelArmazenagemEditViewModel

@{
    ViewBag.Title = "Edição de NivelArmazenagem"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

<!-- title -->
<div class="page-title">
    <div class="title">
        <h3 class="title-sml">@ViewBag.Title</h3>
    </div>   
</div>
<!-- /title -->

@using (Html.BeginForm())
{
    <div class="x_panel">
        <div class="x_title">
        <h2>NivelArmazenagem</h2> @* TODO: Traduzir nome da entidade *@
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- fields -->
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    @Html.HiddenFor(m => m.IdNivelArmazenagem)
                    @Html.HiddenFor(m => m.IdEmpresa)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Descricao, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Descricao)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Ativo, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Ativo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Ativo)
                    </div>
                </div>
            </div>
            <!-- /fields -->
            <!-- footer -->
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">@Resources.CommonStrings.CancelAction</a>
                <button type="submit" class="btn btn-primary">@Resources.CommonStrings.ConfirmAction</button>
            </div>
            <!-- /footer -->
        </div>
    </div>
}


