@model FWLog.Web.Backoffice.Models.ArmazenagemCtx.RelatorioLoteMovimentacaoViewModel
@{
    ViewBag.Title = "Relatório - Movimentações de Lotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript(
        new
        {
            pageDataUrl = Url.Action("RelatorioLoteMovimentacaoPageData")
        })
}
<!-- filter -->
<form data-filter="form" data-filter-for="dataTable" class="form-filter">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="collapse-link">
                <i class="fa fa-chevron-down fa-fw"></i> @Resources.CommonStrings.FilterHeader
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <div class="row">
                <div class="form-group col-md-3 col-xs-12 col-lg-3">
                    @Html.LabelFor(m => m.Filter.IdLote)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.IdLote, null, new { @class = "form-control onlyNumber validateFilters", data_field = "IdLote", autocomplete = "off" })
                        <span class="input-group-btn">
                            <a id="pesquisarLote" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparLote" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3 col-xs-12 col-lg-3">
                    @Html.LabelFor(m => m.Filter.IdProduto)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.DescricaoProduto, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarProduto" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparProduto" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdProduto, new { data_field = "IdProduto" })
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.DataHoraInicial)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.DataHoraInicial, new { @class = "form-control dateFormat validateInitialDateWithUser teste1", data_field = "DataHoraInicial" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Filter.DataHoraInicial)
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                    @Html.LabelFor(m => m.Filter.DataHoraFinal)
                    <div class='input-group date'>
                        @Html.TextBoxFor(m => m.Filter.DataHoraFinal, new { @class = "form-control dateFormat validateEndDateWithUser teste1", data_field = "DataHoraFinal" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Filter.DataHoraFinal)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-3 form-group">
                    @Html.LabelFor(model => model.Filter.IdUsuarioMovimentacao, htmlAttributes: new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.UserNameMovimentacao, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarUsuarioMovimentacao" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparUsuarioMovimentacao" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdUsuarioMovimentacao, new { data_field = "IdUsuarioMovimentacao" })
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    @Html.LabelFor(m => m.Filter.IdNivelArmazenagem)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.DescricaoNivelArmazenagem, null, new { @class = "form-control", @readonly = "true", data_field = "DescricaoNivelArmazenagem" })
                        <span class="input-group-btn">
                            <a id="pesquisarNivelArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparNivelArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdNivelArmazenagem, new { data_field = "IdNivelArmazenagem" })
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    @Html.LabelFor(m => m.Filter.IdPontoArmazenagem)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.DescricaoPontoArmazenagem, null, new { @class = "form-control", @readonly = "true", data_field = "DescricaoPontoArmazenagem" })
                        <span class="input-group-btn">
                            <a id="pesquisarPontoArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparPontoArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdPontoArmazenagem, new { data_field = "IdPontoArmazenagem" })
                </div>
                <div class="form-group col-sm-3 col-md-3 col-xs-12 col-lg-3">
                    @Html.LabelFor(m => m.Filter.IdEnderecoArmazenagem, new { @class = "control-label" })
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Filter.CodigoEnderecoArmazenagem, null, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-btn">
                            <a id="pesquisarEnderecoArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                            <a id="limparEnderecoArmazenagem" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                        </span>
                    </div>
                    @Html.HiddenFor(m => m.Filter.IdEnderecoArmazenagem, new { data_field = "IdEnderecoArmazenagem" })
                    @Html.ValidationMessageFor(m => m.Filter.IdEnderecoArmazenagem)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-3 col-lg-3">
                    @Html.LabelFor(m => m.Filter.IdLoteMovimentacaoTipo)
                    @Html.DropDownListFor(m => m.Filter.IdLoteMovimentacaoTipo, Model.Filter.ListaLoteMovimentacaoTipo, "Todos", new { @class = "form-control", data_field = "IdLoteMovimentacaoTipo" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.ValidationMessageFor(m => m.Filter.IdLote)
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-buttons">
                    <button type="button" class="btn btn-default" data-filter="clear">@Resources.CommonStrings.ClearAction</button>
                    <button type="button" id="pesquisar" class="btn btn-primary" data-filter="search">@Resources.CommonStrings.SearchAction</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /filter -->
<!-- table -->
<div id="tabela" class="row" style="display:none;">
    <div class="col-xs-12">
        <div class="x_panel">
            <!-- panel-title -->
            <div class="x_title">
                <div class="col-lg-6">
                    <h2>Relatório de Movimentações de Lotes </h2>
                </div>
                <div class="col-lg-5">
                    <div class="nav navbar-right" style="margin-top: 6px;">
                        <span class="legenda"><i class="fa fa-circle icon-green" title="" data-toggle="tooltip"></i> Entrada</span>
                        <span class="legenda"><i class="fa fa-circle icon-red" title="" data-toggle="tooltip"></i> Saída</span>
                        <span class="legenda"><i class="fa fa-circle icon-purple" title="" data-toggle="tooltip"></i> Ajuste</span>
                        <span class="legenda"><i class="fa fa-circle icon-dark-green" title="" data-toggle="tooltip"></i> Abastecimento</span>
                    </div>
                </div>
                @*<div class="col-lg-1">
                    <div class="nav navbar-right">
                        <a id="downloadRelatorio" data-toggle="tooltip" title="Download Relatório" class="btn btn-default"><i class="fa fa-fw fa-download"></i></a>
                    </div>
                </div>*@
                <div class="clearfix"></div>
            </div>
            <!-- /panel-title -->
            <!-- panel-content -->
            <div class="x_content">
                <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.IdLote)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.ReferenciaProduto)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.DescricaoProduto)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.NroVolume)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Tipo)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Quantidade)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.Endereco)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.DataHora)</th>
                            <th>@Html.DisplayNameFor(m => m.EmptyItem.UsuarioMovimentacao)</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /panel-content -->
        </div>
    </div>
</div>
<!-- /table -->
<div class="modal" id="modalLote"></div>
<div class="modal" id="modalProduto"></div>
<div class="modal" id="modalUsuarioMovimentacao" data-toggle="modal" data-myvalue="1"></div>
<div class="modal" id="modalPesquisaEnderecoArmazenagem"></div>
<div class="modal" id="modalPesquisaPontoArmazenagem"></div>
<div class="modal" id="modalPesquisaNivelArmazenagem"></div>

