@model FWLog.Web.Backoffice.Models.CaixaRecusaCtx.CaixaRecusaCadastroViewModel

@{
    ViewBag.Title = "Cadastro de Caixa de Recusa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cadastrar Caixa</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-md-4 col-xs-12">
                            @Html.LabelFor(m => m.DescricaoCaixa)
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.DescricaoCaixa, null, new { @class = "form-control", @readonly = "true" })
                                <span class="input-group-btn">
                                    <a id="pesquisarCaixa" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                                    <a id="limparCaixa" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                                </span>
                            </div>
                            @Html.HiddenFor(m => m.IdCaixa, new { data_field = "IdCaixa" })
                        </div>
                        <div class="form-group col-md-4 col-xs-12">
                            @Html.LabelFor(m => m.DescricaoProduto)
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.DescricaoProduto, null, new { @class = "form-control", @readonly = "true" })
                                <span class="input-group-btn">
                                    <a id="pesquisarProduto" class="btn btn-primary"><i class="fa fa-fw fa-search"></i></a>
                                    <a id="limparProduto" class="btn btn-primary"><i class="fa fa-fw fa-eraser"></i></a>
                                </span>
                            </div>
                            @Html.HiddenFor(m => m.IdProduto, new { data_field = "IdProduto" })
                        </div>
                        <div class="form-group col-lg-1">
                            <button type="button" id="adicionarLinhaTabela" class="btn btn-primary" style="margin-top: 13px;background-color: #337ab7 !important;border-color: #2e6da4 !important;">Adicionar</button>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.IdEmpresa)
                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <table class="table table-striped table-bordered dt-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Caixa</th>
                                    <th>Produto</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-danger" id="removerLinhaTabela">Deletar</button>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="row col-xs-12 form-buttons">
                        <a href="@Url.Action("Index")" class="btn btn-default">Voltar</a>
                        <button id="salvarCaixaRecusa" type="button" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
<div class="modal" id="modalProduto"></div>
<div class="modal" id="modalCaixa"></div>