@model FWLog.Web.Backoffice.Models.CaixaRecusaCtx.CaixaRecusaEdicaoViewModel
@using FWLog.AspNet.Identity

@{
    ViewBag.Title = "Visualização de Caixa de Recusa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Visualizar Caixa</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <table class="table table-striped table-bordered dt-responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Caixa</th>
                                <th>Produto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lista)
                            {
                                <tr>
                                    <td></td>
                                    <td class="hide">@item.IdCaixa</td>
                                    <td>@item.DescricaoCaixa</td>
                                    <td class="hide">@item.IdProduto</td>
                                    <td>@item.DescricaoProduto</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="ln_solid"></div>
                <div class="row col-xs-12 form-buttons">
                    <a href="@Url.Action("Index")" class="btn btn-default">Voltar</a>
                    @if (User.HasPermission(Permissions.CaixaRecusa.Editar))
                    {
                        <a href="@Url.Action("Editar", new { id = Model.IdCaixa })" class="btn btn-default">Editar</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalProduto"></div>
<div class="modal" id="modalCaixa"></div>