@model FWLog.Web.Backoffice.Models.PerfilImpressoraCtx.PerfilImpressoraCreateViewModel

@{
    ViewBag.Title = "Edição de Perfil de Impressora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @BundleHelper.RenderViewScript()
}

@using (Html.BeginForm("Editar"))
{
    <div class="x_panel">
        <div class="x_title">
            <h2>Editar Perfil de Impressora</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    @Html.HiddenFor(m => m.IdPerfilImpressora)
                    @Html.HiddenFor(m => m.IdEmpresa)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Nome)
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6 col-lg-3">
                            @Html.LabelFor(m => m.Ativo)
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.Ativo, new { @class = "flat" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Ativo)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="x_title">
                    <h2>Tipos de Impressão</h2>
                    <div class="clearfix"></div>
                </div>
                <div style="padding-top: 7px">
                    <div class="form-group col-sm-12 col-md-6 col-lg-3">
                        @Html.DropDownList("ddlImpressaoItem", (IEnumerable<SelectListItem>)ViewBag.ImpressaoItens, "Selecione o Tipo de Impressão", new { @class = "form-control" })
                        <span class="text-danger validationImpressaoItem">@Html.ValidationMessageFor(m => m.TiposImpressao)</span>
                    </div>
                    <div>
                        <button type="button" id="btnAddImpressaoItem" class="btn btn-primary btn-dt-action m-r-sm">
                            <i class="fa fa-plus"></i> Adicionar
                        </button>
                    </div>
                </div>
            </div>
            <div id="TiposImpressaoSelecionados">
                @Html.Partial("_ListaImpressoras", Model.TiposImpressao)
            </div>
            <div class="ln_solid"></div>
            <div class="row col-xs-12 form-buttons">
                <a href="@Url.Action("Index")" class="btn btn-default">@Resources.CommonStrings.CancelAction</a>
                <button type="submit" class="btn btn-primary btnSalvar">@Resources.CommonStrings.ConfirmAction</button>
            </div>
        </div>
    </div>
}


